
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
/*	list-style: none;*/
	margin-left: 1em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

i
{font-style: italic;}

a
{text-decoration: none;}
a:hover
{text-decoration: underline;}

html
{
	height: 100%;
}
 
body
{

	background-color: #383838;
	background-color: black;

	font: 16px/1.5em 'Helvetica Neue',helvetica,arial,sans-serif;
	width: 100%;
}




.hidden {display:none;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;  font-size: 0;}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }



h1 {font-size:3em; font-weight: bold; padding: 4px 0 6px 0;}
h2 {font-size:1.5em; font-weight: bold; padding: 3px 0 5px 0;}


#messages
{
	color: brown;
}



#container {
/*	max-width: 75em;*/
	width: 95%;
	min-width: 45em;
	height: 100%;
	margin: 0 auto;
}


#header, #footer 
{
/*	height:50px;*/
	padding:  .5em 5%;
	color:black;
	background: #6d635b;
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px lightgray solid;
	
}

#header span.inner, #footer span.inner
{
/*	padding: 0 5%;*/
}

#header a .ui-button-text{ font-size: .6em !important;}

#header span.right
{
	float: right;
}

/*Replace this with breadchrumbs that link...maybe?*/
.headerTitle
{
	margin: -1em 2em 0 0;
	padding: .8em;
	padding-top: 1em;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.37, rgb(232,232,232)),
	    color-stop(0.69, rgb(255,255,255))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(232,232,232) 37%,
	    rgb(255,255,255) 69%
	);
	color: black;

	float: left;
	text-align: center;
	box-shadow: 1px 1px 5px #3f3f3f;
	letter-spacing: .2em;

}

#content {
	float:left;
	width:57%;
	padding:1em 5% 2em 5%;
/*	background-color: #ccc;*/
	background-color: #f9f9f9;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(204,204,204)),
    color-stop(1, rgb(249,249,249))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(204,204,204) 0%,
    rgb(249,249,249) 100%
);



	min-height: 41em;
}

#sidebar {
	float:left;
	width:27%;
	padding:1em 3% 1em 3%; 
	background-color: white;
	min-height: 42em;
}



#footer {
	clear:both;
	text-align: center;
	font-size: .8em;
	font-style: italic;
}

/**********************************************************************************/
/* SLIDE BEING EDITED */
/**********************************************************************************/

#card_being_edited
{
	width:90%;
	min-height: 24em;
	padding: 1em 5%;
/*	border: 1px solid white;*/
	overflow: hidden;
	background-color: #eee;
	background-color: white;
	box-shadow: 0px 0px 5px gray;
	margin-bottom: 1em;
	text-align: center;
	
}


/* *******************************************/
/* *********ELEMENT EDITING       ************/
/* *******************************************/

/*/*#card_being_edited MIGHT AS WELL BE IMPLIED*/
 .ue
{
	padding: 1em;
	border: 2px solid white;
	text-align: center;
	margin: 0em auto;
	display: inline-block;
	cursor: pointer;
	font-size: 1em;

}

 .ue:hover 
{
	border:2px dashed orange;
/*	background-color: #ffe7d1;*/
	background-image: url('/static/img/stripes-orange2.png');
}

 .ue_active, .ue_active:hover
{
	border:3px dashed orange;
	background-image: url('/static/img/stripes-lightorange.png');
	padding: 1em;
}

.optional
{
	color: gray;
}

/*Images in ue's*/
/*.ue:hover img {border: 1px solid black;}
.ue img {border: 1px solid white;}*/

.closex
{
	display: block;
	display: none;
	position: absolute;
	top: -.25em;
	right: 0px;
	padding: 0 .4em 0 .4em;
	background-color: gray;
	color: white;
	font-size: .7em;
}

.closex:hover
{
	text-decoration: none;
	background-color: black;
	color: orange;
}


/******************/
/* General elements */
.delete
{
	color: #b50000;
}

.disabled
{
	color: gray;
}

/*HIDDEN for flip*/
.back 
{
	display: none;
}

/**************************/
/******specific card elements*/
textarea.cardtext
{
	width: 20em;
	height: 15em;
	text-align: left;
	font-size: 1em;

}
.front.cardtext 
{ 
	width: 20em; 
	height: 15em; 
	text-align: left;

}

input#title
{
	width: 20em;
	font-size: 1em;
}



.front .media_holder
{
/*	border: 1px solid gray;*/
/*	color: gray;*/
	width: 8em;  /* need better sizing code, probably resort ot js */
	height: 8em;
	margin-left: auto;
	margin-right: auto;
}

.is_primary .front .media_holder
{
	width: 29em;  /* need better sizing code, probably resort ot js */
	height: 20em;
}

.ue.is_primary
{
	clear: none;
	display: block;
/*	overflow:auto;*/
}

/**********************************************************************************/
		/* SIDE BAR */
/**********************************************************************************/

#card_element_toolbar
{
/*	margin-right: -25%;*/
	width: 110%;
	margin-top: -1em;

}
#card_element_toolbar h3  {margin-top: 1em;}

#card_element_toolbar h3 a
{
	font-size: 1.2em;
 	text-transform: capitalize ;
/*	overflow: overlay;*/
}


#card_element_toolbar h3 img.uibutton
{
	
	width: 1.1em;
	margin-top: -.2em;
	padding: .2em;
	border-radius: 2px;
}

#card_element_toolbar h4 img, #card_element_toolbar button img
{
	width: 1.5em;
	margin-bottom: -.5em;
	padding: .2em;
	border-radius: 2px;
}

#card_element_toolbar h4
{
	margin-bottom: 1em;
}

/*icons on the accordian header*/
#card_element_toolbar .iconbuttons
{
	float: right;
	margin-right: 5%;
/*	clear: both;*/
}


#card_element_toolbar .userfiles
{
/*	background-color: gray;*/
	overflow: hidden;
	margin-top: -1em;
}

#card_element_toolbar .userfiles .media
{ 
	background-color: #cdcdcd;
	padding: .5em .5em; 
	float: left;
	display: block;
	margin: .2em;
	color:black;
	border: 1px solid gray;
	cursor: pointer;
	font-size: .7em;
	text-align: center;

}

#card_element_toolbar .userfiles .media:hover
{
	background-color: #ffae00;
	color:black;

}



#card_element_toolbar .image_title
{
	font-size: .5em;
}


#card_element_toolbar .userfiles img
{
	width: 5em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


.ui-accordion .ui-accordion-content
{
	padding: 1em;
}



/****************************************/
/********* ADDING INPUTS ************/
/****************************************/
.all_card_holder
{
	display: block;
	width: 100%;
	float: left;
}

.smallcard
{
	display: block;
/*	padding: .5em;*/
/*	border: 1px solid gray;*/
	margin: .5em;
	text-align: center;
	width: 6.2em;
	height: 5em;
	float: left;
	overflow: hidden;
}

.smallcard .ui-button
{
	height: 4.5em;
	width: 6em;
}

.smallcard .ui-state-default 
{
	background: none;
	background-color: white;
}
.smallcard .ui-state-active
{
	background: -webkit-gradient( linear, left bottom, left top, color-stop(1, rgb(185,224,245)), color-stop(0, rgb(146,189,214)) );
}


.input-button
{
	border: 1px solid gray;
	margin: .5em;
	padding: .5em;
}






/*
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(171,183,196)),
    color-stop(1, rgb(214,218,232))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(171,183,196) 0%,
	    rgb(214,218,232) 100%
	);

}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover 
{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(135,153,194)),
    color-stop(1, rgb(193,201,232))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(135,153,194) 0%,
	    rgb(193,201,232) 100%
	);
}

img.ui-state-hover
{
	background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(149,171,222)),
    color-stop(1, rgb(221,228,252))
	);
	background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(149,171,222) 0%,
	    rgb(221,228,252) 100%
	);
}

.ui-accordion-content h4
{
	float: left;
	margin-bottom: .5em;
	margin-left: .5em;
}*/