
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

i
{font-style: italic;}

a
{text-decoration: none;}
a:hover
{text-decoration: underline;}

html
{
	height: 100%;
}
 
body
{

	background-color: #383838;
	background-color: black;

	font: 16px/1.5em 'Helvetica Neue',helvetica,arial,sans-serif;
	width: 100%;
}




.hidden {display:none;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;  font-size: 0;}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }



h1 {font-size:2em; font-weight: bold; padding: 4px 0 6px 0;}
h2 {font-size:1.5em; font-weight: bold; padding: 3px 0 5px 0;}


#messages
{
	color: brown;
}



#container {
/*	max-width: 75em;*/
	width: 95%;
	min-width: 45em;
	height: 100%;
	margin: 0 auto;
}


#header, #footer 
{
/*	height:50px;*/
	padding:  .5em 5%;
	color:black;
	background: #6d635b;
	background-color: #fff;
	overflow: hidden;
	border-bottom: 1px lightgray solid;
	
}

#header span.inner, #footer span.inner
{
/*	padding: 0 5%;*/
}

#header a .ui-button-text{ font-size: .6em !important;}

#header span.right
{
	float: right;
}

.headerTitle
{
	margin: -1em 2em 0 0;
	padding: .8em;
	padding-top: 1em;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.37, rgb(232,232,232)),
    color-stop(0.69, rgb(255,255,255))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(232,232,232) 37%,
    rgb(255,255,255) 69%
);
	color: black;

	float: left;
	text-align: center;
	box-shadow: 1px 1px 5px #3f3f3f;
	letter-spacing: .2em;

}

#content {
	float:left;
	width:57%;
	padding:1em 5% 2em 5%;
	background-color: #ccc;
	background-color: #f9f9f9;

	min-height: 41em;
}

#sidebar {
	float:left;
	width:27%;
	padding:1em 3% 1em 3%; 
	background-color: white;
	min-height: 42em;
}



#footer {
	clear:both;
	text-align: center;
	font-size: .8em;
	font-style: italic;
}

/**********************************************************************************/
/* SLIDE BEING EDITED */
/**********************************************************************************/

#card_being_edited
{
	width:90%;
	min-height: 36em;
	padding: 1em 5%;
/*	border: 1px solid white;*/
/*	overflow: hidden;*/
	background-color: #eee;
	background-color: white;
	box-shadow: 0px 0px 5px gray;
	margin-bottom: 1em;
	
}

input.card_title
{
	margin: 0 auto 1em auto;
	clear: both;
	font-size: 2.5em;
	display: block;
	width: 80%;
}




/**********************************************************************************/
		/* SIDE BAR */
/**********************************************************************************/

#card_element_toolbar
{
/*	margin-right: -25%;*/
/*	width: 110%;*/
	margin-top: -1em;

}
#card_element_toolbar h3  {margin-top: 1em;}

#card_element_toolbar h3 a
{
	font-size: 1.2em;
 	text-transform: capitalize ;
}


#card_element_toolbar h3 img
{
	
	width: 1.1em;
	margin-bottom: -.4em;
	padding: .2em;
	border-radius: 2px;
}

#card_element_toolbar h3 img:hover
{
/*	background-color: #d1eeff;*/
}




#card_element_toolbar .userfiles
{
/*	background-color: gray;*/
	overflow: hidden;
	margin-top: -1em;
}

#card_element_toolbar .userfiles .media
{ 
	background-color: black;
	padding: .3em .3em; 
	float: left;
	display: block;
	margin: .2em;
	color:white;
	cursor: pointer;

}

#card_element_toolbar .userfiles .media:hover
{
	background-color: #ffae00;
	color:black;

}



#card_element_toolbar .image_caption
{
	font-size: .5em;
}


#card_element_toolbar .userfiles img
{
	width: 5em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}



/*experiment with jquery ui icons....*/
/*
.photoIcon {
     background-image: url("http://i45.tinypic.com/504bp2.png") !important;
     left: 10px;
}
*/