.smallcard
{
	display: block;
	padding: .5em;
	border: 1px solid gray;
	margin: .5em;
	text-align: center;
	width: 8em;
	height: 7em;
	float: left;
	overflow: hidden;
	background-color: white;
	border-radius: 3px;
}

.smallcardWrapper
{
	display: block;
	float: left;
	padding: .5em;
	

}
