
 {% extends "base.html" %}
	
	{% block title %}Profile List - {{ block.super }}{% endblock %}
	
	{% block content %}
	
	<h1>Profile List</h1>  
	
	<table border = "5" width ="50%" cellpadding = 4 cellspaceing=3>   
	
	<div id="profile_list">     
		
	   <ul>
	   {% for object in object_list|dictsort:"user.username" %}
	      <li><a href="{% url profiles_profile_detail object.user.username %}">{{ object.user.username }}</a></li>
	   {% endfor %}
	   </ul>    
	 </table>
	</div>
	
	{% endblock %}          
	
	