{%extends "base.html"%}

{% block extrahead%}
<script src="{{STATIC_URL}}js-libs/jquery.isotope.min.js"></script>


{% endblock %}

{% block content %} 
{%load  tagging_tags %}
		
		{# {%for t in all_tags%} #}
		{# All tags: {{t}} #}
		{# {%endfor%} #}
		{# <br> #}


		<div id="guideList">
			{%for guide in guide_list%}

					{% tags_for_object guide as tag_list %}
					<div class="guideBox lifted drop-shadow {% for tag in tag_list %} {{tag}} {%endfor%}">
						{%if guide.get_guide_thumb %}
							<a class="guide_thumb innerShadow" href="{{guide.get_absolute_url}}"
							{# rel="popover" data-content="{{guide.description}}" data-original-title="{{guide.title}}" class="tip" #}
							>
								<img src="{{guide.get_guide_thumb}}" alt="{{guide}}">
								<div class="guide_title">{{guide}}</div>
							</a>
						{%else%}
							<a class="guide_thumb innerShadow" href="{{guide.get_absolute_url}}"
							{# rel="popover" data-content="{{guide.description}}" data-original-title="{{guide.title}}" class="tip" #}
							>
								<br><br><h3 class="guide_title">{{guide}}</h3>
							</a>
						{%endif%}
						
					</div>

			{%endfor%}
		</div> {# /#guideList #}

		<br>
		<br>
		<br>	
{% endblock %}

{# <a rel="popover" data-content="<p>Side cards are outside the normal flow of the guide.</p><p> Mostly, this means they don't have previous and next buttons, and your users won't get to them from the previous and next buttons on other cards.</p>" data-original-title="Sidecards" class="tip">?</a> #}


{% block sidebar%}
<div class="sidebar">
<h3>Popular Tags</h3>
	<div id="popular_tags">
			<ul class="pills">
				<li class="active"><a href="#" data-filter="*"><strong>All Guides</strong></a></li>				
				{%for t in popular_tags%}
					<li><a href="#" data-filter=".{{t}}">{{t|title}}</a></li>
				{%endfor%}
		</ul>
	</div> {# /popular_tags #}
</div>
{% endblock%}