{%extends "base.html"%}

{% block content %} 

{%if user.get_profile.is_new_here %}
	<h2> Welcome to Guidesly</h2>
	{# <p> New here? Checkout this 30 second guide on how to create guides. Soon, this will be here.</p> #}
	<p>Hi there. Thanks for trying out the beta.</p><p> <strong>Warning, Guidesly is still in beta, and you may lose your work</strong>. We'll try to prevent that, but it's possible. Thanks for trying it out!</p>
	<br>
{%endif%}

<div class="row">
	<div class="span10 columns">
		<h2>Your Guides <small> Published</small></h2> 
		<div class="listedGuides yourGuides cf">
			{%for guide in your_published_guides%}
			<div class="smallcardWrapper">
				<div class="smallcard">
					<div>{{guide}}</div>
					{%if guide.get_guide_thumb %}<img src="{{guide.get_guide_thumb}}" alt="{{guide}}">{%endif%}
				</div>
				<div class="controls"><a href="{% url EditGuide gslug=guide.slug %}">Edit</a>  <a href="{{guide.get_absolute_url}}">View</a>  <a href="#" data-bind="click: deleteCard">Delete</a></div>
			</div>
			{%endfor%}
		</div> {# /listedGuides #}

		<br>
		<br>

		<h2>Your Guides <small> Unpublished</small></h2> 
		<div class="listedGuides yourGuides">
			{%for guide in your_unpublished_guides%}
			<div class="smallcardWrapper">
				<div class="smallcard">
					<div>{{guide}}</div>
					{%if guide.get_guide_thumb %}<img src="{{guide.get_guide_thumb}}" alt="{{guide}}">{%endif%}
				</div>
				<div class="controls"><a href="{% url EditGuide gslug=guide.slug %}">Edit</a>  <a href="{{guide.get_absolute_url}}">View</a>  <a href="#" data-bind="click: deleteCard">Delete</a></div>
			</div>
			{%endfor%}
		</div> {# /listedGuides #}
		
		
		
	</div> {# /span10 #}
	<div class="span6 columns"><br><br>
		{# <p>Some really pithy text should go here. Probably a link to the iphone and android app too. </p> #}
		{# <p>And news! Everyone loves news! Right?</p> #}
	</div>
</div> {# /row #}
{% endblock %}
