{%extends "base.html"%}

{% block content %} 

{%if user.get_profile.is_new_here %}
	<h2> Welcome to Guidesly</h2>
	<p> New here? Checkout this 30 second guide on how to create guides.</p>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	<br>
{%endif%}

<div class="row">
	<div class="span10 columns">
		<h2>Your Guides</h2>
		<div class="listedGuides">
			{%for guide in your_guides%}
			<div class="smallcardWrapper"> 
				{# <div class="cardNumber"><span></span> </div> #}
				<div class="smallcard">
					<div>{{guide}}</div>
					{%if guide.get_guide_thumb %}<img src="{{guide.get_guide_thumb}}" alt="{{guide}}">{%endif%}
				</div>
				<div class="controls"><a href="{% url EditGuide gslug=guide.slug %}">Edit</a>  <a href="{{guide.get_absolute_url}}">View</a>  <a href="#" data-bind="click: deleteCard">Delete</a></div>
			</div>
			{%endfor%}
		</div> {# /listedGuides #}

		<br>
		<h2> Other People's Guides</h2>
		<div class="listedGuides">
			{%for guide in guide_list%}
				<div class="smallcardWrapper"> 
					{# <div class="cardNumber"><span></span> </div> #}
					<a class="smallcard" href="{{guide.get_absolute_url}}">
						<div>{{guide}}</div>
						{%if guide.get_guide_thumb %}<img src="{{guide.get_guide_thumb}}" alt="{{guide}}">{%endif%}
					</a>
				</div>
			{%endfor%}
		</div> {# /listedGuides #}

		<br>
		<br>
		<br>
	</div> {# /span10 #}
	<div class="span6 columns"><br>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
</div> {# /row #}
{% endblock %}
