{# <form action="{%url EditStaticElement gslug=gslug slug=slug elementid=element.id%}" method="post" enctype="multipart/form-data"> #}
{# {% csrf_token %} #}
{# <input type="hidden" name="slide" value="{{element.slide.id}}"> #}
{# <input type="text" name="title" value="{{element.title}}" placeholder="Title"> <br> #}
{# <br> #}
{# <label for="file">File:</label><input type="file" name="file" value="{{element.file}}"><br>currently:{{element.file}} #}
{# <label for="display_title">Display title:</label><input type="checkbox" name="display_title" /><br> #}
{# Type: {{static_element_form.type}} #}
{# <input type="submit" value="Edit this element" />  #}
{# </form> #}
{#  #}
{# <div class="delete_element_button">Delete Element</div> #}

{# <form action="/create/trees/3/addstatic" method="post" enctype="multipart/form-data">  #}
{# <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='d4d3510ff1db804c376761b0da272b06' /></div>  #}
{# <table> <tr><th><label for="id_slide">Slide:</label></th><td><select name="slide" id="id_slide">  #}
{# <option value="" selected="selected">---------</option>  #}
{# <option value="3">Who doesn&#39;t like cheese?</option>  #}
{# <option value="5">blackslide</option>  #}
{# <option value="2">Slide Numero Dos</option>  #}
{# <option value="23">23</option>  #}
{# <option value="27">Title</option>  #}
{# <option value="1">The First Slide</option>  #}
{# <option value="28">Pine</option>  #}
{# <option value="24">24</option>  #}
{# <option value="29">Oak</option>  #}
{# <option value="4">Red slide!</option>  #}
{# <option value="25">A title goes here</option>  #}
{# <option value="26">Title</option>  #}
{# </select></td></tr>  #}
{# <tr><th><label for="id_file">File:</label></th><td><input type="file" name="file" id="id_file" /></td></tr>  #}
{# <tr><th><label for="id_title">Title:</label></th><td><input id="id_title" type="text" name="title" maxlength="250" /></td></tr>  #}
{# <tr><th><label for="id_display_title">Display title:</label></th><td><input type="checkbox" name="display_title" id="id_display_title" /></td></tr>  #}
{# <tr><th><label for="id_type">Type:</label></th><td><select name="type" id="id_type">  #}
{# <option value="" selected="selected">---------</option>  #}
{# <option value="I">Image</option>  #}
{# <option value="A">Audio</option>  #}
{# <option value="V">Video</option>  #}
{# </select></td></tr></table>  #}
{# <input type="submit" value="Add this element" />  #}
{#   #}
{# </form>  #}
 