/*CREATING a guide*/
table#createGuide
{
	font-size: 1.5em;
	letter-spacing: 1px;

}
table#createGuide textarea {height: 3em;}
table#createGuide, table#createGuide textarea, table#createGuide input
{
	font-size: 1.1em;
}

table#createGuide td 
{
	vertical-align: top;
	padding-bottom: 1em;
}

table#createGuide td.labels
{
	width:20%;
	text-align: right;
	padding-right: 1em;
}


/*EDITINGcentric*/
.smallcard
{
	display: block;
	padding: .5em;
	border: 1px solid gray;
	margin: .5em;
	text-align: center;
	width: 8em;
	height: 8em;
	float: left;
	overflow: hidden;
	background-color: white;
	border-radius: 3px;
	cursor: move;
	
}

.smallcardWrapper
{
	display: block;
	float: left;
/*	padding: .3em;*/
	margin: .3em;
	margin-bottom: 1em;
	text-align: center;
	border-radius: 3px;
	background-color: #cacaca;
	box-shadow: 0px 0px 1px gray;
}

.smallcardWrapper:hover
{
	background-color: #e0e0e0;
}

.smallcardWrapper:hover .cardNumber
{
	background-color: #f3f3f3;

}

.smallcardWrapper .cardNumber:hover
{
	cursor: move;
}

.smallcardWrapper:hover .controls a
{
	display: inline;
}


.smallcardWrapper .cardNumber
{
	height: 1em;
	font-size: 1.2em;
	background-color: #e8e8e8;
	padding: 3px;
}


.normal_card_container
{
	overflow: auto;
	display:block;
	width: 100%;
	padding: .5em;
	min-height: 10em;
}

.floating_card_container
{
	overflow: auto;
	display:block;
	width: 100%;
	margin-top: 1em;

}

.connectedSortable
{
	min-height: 10em;
}

.smallcardWrapper .controls 
{
	height: 2em;
	width: 100%;
	float: left;
	clear: both;
}

.smallcardWrapper .controls a
{
	font-size: .9em;
	margin: 0 .2em;
	padding: 0 .2em;
	display:none;
}

.smallcardWrapperPlaceHolder
{
/*	padding: .3em;*/
	margin: .3em;
	background-color: black;
	height: 221px;
	width: 10em;
	display: block;
	float: left;
	border-radius: 3px;
}
.ui-sortable-helper:hover, .ui-sortable-helper .cardNumber
{
	background: rgba(255, 255, 0, 0.5);
	cursor: move;
/*	background-color: yellow !important;*/
}
.ui-sortable-helper .cardNumber span, .ui-sortable-helper .controls a
{
	display:none;
}

.floating_card_container .cardNumber span 
{
	display:none;
}



.floating_card_container h2, .floating_card_container h3
{
	clear: both;
}


