{%if elementid %}
<form action="{%url EditStaticElement gslug=gslug slug=slug elementid=elementid %}" method="post" enctype="multipart/form-data">
{%else%}
<form action="{%url AddStaticElement gslug=gslug slug=slug %}" method="post" enctype="multipart/form-data">
{%endif%}

{% csrf_token %}

<table>
{{static_element_form.as_table}}
</table>

{%if elementid %}
<input type="submit" value="Edit element" /> 

<a href="{%url EditStaticElement gslug=gslug slug=slug elementid=elementid %}" class="delete_element_button">Delete Element</div>


{%else%}
<input type="submit" value="Add element" name="add_{{key}}"/> 
{%endif%}

</form>


<!-- <form action="{%url AddStaticElement gslug=gslug slug=slug %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="hidden" name="card" value="{{s.id}}">
<input type="text" name="title" value="{{element.title}}" placeholder="Title"> <br>
<br>
<label for="file">File:</label><input type="file" name="file" value="{{element.file}}"><br>currently:{{element.file}}
<label for="display_title">Display title:</label><input type="checkbox" name="display_title" /><br>
Type: {{static_element_form.type}}
<input type="submit" value="Add element" /> 
</form> -->
