{%extends "base.html"%}
{%block content%}
<h1>Add a Step to your Guide</h1>

<form action="" method="post">
{% csrf_token %}
<table>
{# {{form.title}} #}
	
{{sf.as_table}}
</table>
{# <input name='guide' value={{creating_guide_id}}><br> #}
<input type="submit" value="Add this slide" />
</form>




<br><br>
<h2>Add Static Element</h2>

<form action "add-static" method="post">{% csrf_token %}
<table>
{{static_element_form.as_table}}
</table>
<input type="submit" value="Add this element" />
</form>
<br>



{%endblock%}