{%extends "base.html"%}
{%block content%}

{%if s.brand_new%}
<h1>Add Step</h1>
{%else%}
<h1>Edit Step</h1>
{%endif%}

<a href="{% url SlideDetailView gslug=s.guide.slug, slug=s.slug %}"> View Step</a>| <a href="{% url EditGuide gslug=s.guide.slug %}"> View All Steps in <i>{{s.guide.title}}</i> </a>
<div class="clearfix"></div>





<div id="slide_element_toolbar">

		<h3 id="add_static"><a href="#">Add Media</a></h3>	
		<div class="button_group">
			<ul>
				<li><a href="#add_image_form">Image</a></li>
				<li><a href="#add_audio_form">Audio</a></li>
				<li><a href="#add_video_form">Video</a></li>
			</ul>

			{%for key, static_element_form in static_element_form_dict.items%}
				<div class=" button_form" id="add_{{key}}_form" data-subtype="{{key}}">
					{%include 'create/add_static.html'%}
				</div>
			{%endfor%}

		</div> {# end button group #}


	
	<h3 class="button" id="add_interactive"><a href="#">Add Interaction</a></h3>
		<div id="add_interactive_group">
			{%for key, interactive_element_form in interactive_element_form_dict.items%}
				<h4> <a href="#">{{key|title}}</a></h4>
				<div class="button_form" id="add_{{key}}_form" data-subtype="{{key}}">
					{%include 'create/edit_interactive.html'%}
				</div>
			{%endfor%}

		</div> {# end add_interactive_group #}
		
	<h3 class="button " id="edit_static"><a href="#">Edit <span id="edited_type"></span></a></h3>
	<div class="button_group">
		<div class="button_form" id="edit_static_form">Click on a media or interactive element on the slide. Then you can edit it here.</div>
	</div>
		
</div> {# end #slide_element_toolbar #}


<form action="" method="post">
<div id="slide_being_edited" class="{%if s.brand_new%}brand_new{%endif%}">
		{% csrf_token %}
		
		{# <table> #}
		{# {{sf.as_table}} #}
		{# </table> #}
		
		{# <input type="hidden" name="brand_new" id="id_brand_new" value="{{s.brand_new}}"/> #}
		<input type="hidden" name="slide_number" value="{%firstof s.slide_number '' %}" id="id_slide_number" />
		<input type="hidden" name="slug" value="{{s.slug}}" id="id_slug" />
		<input type="hidden" name="guide" id="id_guide" value="{{s.guide.id}}">
		<input id="id_title" type="text" name="title" value="{%firstof s.title 'Title' %}" maxlength="250" {# placeholder="Title" #} />
		<textarea id="id_text" {# rows="10" cols="40" #} name="text">{%if s.text%}{{s.text}}{%else%} 
Slide text goes here{%endif%} </textarea>
	
	{%for e in current_static_elements%}
		<div class="an_element a_static_el" data-id="{{e.id}}" data-title="{{e.title}}">
			<br>{%if e.file%} <img src="{{e.file_url}}" width="100" height="100">- {%endif%}{{e.title}}<br>
		</div>
	{%endfor%}
	
	<br>
	
	{%for el in current_interactive_elements%}
		<div class="an_element an_interactive_el" data-id="{{el.id}}" data-title="{{el.button_text}}">
			{%include el.el_template%}<br>
		</div>
	{%endfor%}
	
	</div> {# end #slide_being_edited #}
	<input class="button" type="submit" value="Save &amp; Add Another Slide" name="slide_sub_add" />
	<input class="button" type="submit" value="Save Slide" name ="slide_sub_save"/>
</form> {# end slide form #}







{%endblock%}