{%extends "base.html" %}

{%block extrahead%}
		<link rel="stylesheet" media="all" href="{{STATIC_URL}}create/guide.css"/>

	<script src="{{STATIC_URL}}create/guide.js"></script>
	<script type="text/javascript">
		var guide_json = '{{guide_json|safe|escapejs}}'; 
	</script>

{%endblock%}

{%block header%}
	<li><a> Edit Guide</a></li>
{%endblock%}

{% block content %} 

<h1>{{guide.title}}</h1>
<h3>{{guide.description}}</h3>
<br><br>

{%if guide.is_linear %}
	<div class="row">
		<div class="span10 columns"><h2>Cards</h2> </div>
		<div class="span6 columns"><h2> Side Cards</h2> </div>
	</div>
	
	<div class="row">
		<div class="normal_card_container connectedSortable span10 columns" data-bind="template: {name: 'smallCardTemplate',
						  						foreach: VM.normal_cards, templateOptions: { parentList: VM.normal_cards}},
						 						sortableList: VM.normal_cards">
				<div class="clearfix"></div>
				<p>These are normal cards, so your users can move between them easily, in order</p><p> You can reorder these cards by dragging and dropping them. Drag one over to the side card section to take it out of the order.</p>		
				
		</div>
		
		<div class="floating_card_container span6 columns" >
			<div data-bind="template: {name: 'smallCardTemplate',
						  						foreach: VM.floating_cards, templateOptions: { parentList: VM.floating_cards}},
												sortableList: VM.floating_cards" class="connectedSortable ">
			</div>									
			<div class="clearfix"></div>
			<p><strong>Side cards</strong> are outside the normal flow of your guide. Mostly, this means they don't have previous and next buttons, and you have to create buttons to get your users to these cards. </p>
			
			<br>
		
		</div>

	</div> {# /row #}
	
	<div class="row">
		<div class="span10 columns"> <a  href="{% url BuildCard gslug=guide.slug %}"class="btn primary"/>Add a New Card</a></div>
		<div class="span6 columns"><a  href="{% url BuildFloatingCard gslug=guide.slug %}"class="btn primary"/>Add a New Side Card</a></div>
		
	</div> {# /row #}
	
{%else%}
	<div class="row">
		{# <div class="floating_card_container connectedSortable span2 columns" data-bind="template: {name: 'smallCardTemplate', #}
		{# 				  							foreach: VM.floating_cards, #}
		{# 										templateOptions: { parentList: VM.floating_cards}}, #}
		{# 				 						sortableList: VM.floating_cards"> #}
		{# 	FIRST CARD #}
		{#  #}
		{#  #}
		{#  #}
		{# </div> #}
		
		<div class="floating_card_container span16 columns" >

			<div data-bind="template: {name: 'smallCardTemplate',
						  						foreach: VM.floating_cards, templateOptions: { parentList: VM.floating_cards}},
												sortableList: VM.floating_cards" class="connectedSortable ">
			</div>
		</div>
	</div>
	<a  href="{% url BuildFloatingCard gslug=guide.slug %}"class="btn primary"/>Add a New Card</a>
{%endif%}




{%load verbatim_templatetag%} 


{%verbatim%}
	<script id='smallCardTemplate' type='text/html'>
	<div class="smallcardWrapper" id="${id}" data-bind="sortableItem: { item: $data, parentList: $item.parentList }"> 
		<div class="cardNumber"><span data-bind="text: card_number"></span> </div>
		<div class="smallcard">
			<span data-bind="text: title() ? title: 'Untitled Card '"></span>
			{{if primary_media }}<br><img src="${primary_media.file.thumb_url}">{{/if}} 
		</div>
		<div class="controls">
			<a href="${edit_url}">Edit</a>
			<a href="${absolute_url}">Preview</a>
			<a href="#" class="delete_link">Delete</a>
			<a href="#" class="delete_link_real" data-bind="click: deleteCard">Sure?</a>
		</div>
	</div>
	</script>
{%endverbatim%}

{# <form action="" method="post"> #}
{# {% csrf_token %} #}
<table>	{{form.as_table}}</table>
{# <input type="submit" value="Edit guide" /> #}
{# </form> #}



<div class="modal-backdrop shown" id="editGuide">
	<div class="modal">
		<div class="modal-header">
			<h3>Add Media From The Web</h3>
			<a href="#" class="close closer" >×</a>
		</div>
		<div class="modal-body">
			<p>Copy and paste the web address of your image, or video below. </p>
			<p>For images, you want thing that ends in .jpg, .png or something similar.</p>
			<p>For video, we currently only support youtube. Just give us the url of the video page</p>
			<input id="external_file_url" name="external_file_url" type="text" class="tinput" size="30" placeholder="http://">
			
		</div>
		<div class="modal-footer">
			<a href="#" class="btn primary" >Add!</a>
			<a href="#" class="btn secondary closer">Cancel</a>
		</div>
	</div> 
</div> {# /#addExternalMediaModal #}

{% endblock %} {# end content #}


