{%extends "base.html"%}
{%block content%}

{%if slide.brand_new%}
<h1>Add Step</h1>
{%else%}
<h1>Edit Step</h1>
{%endif%}

<a href="{% url SlideDetailView gslug=slide.guide.slug, slug=slide.slug %}"> View slide</a>

<form action="" method="post">
	<div id="slide_being_edited">
		{% csrf_token %}
		<table>
		{{sf.as_table}}
		</table>
		{# {{sf.title}} #}
	</div>
<input type="submit" value="Save &amp; Add Another Slide" name="slide_sub_add" />
<input type="submit" value="Save Slide" name ="slide_sub_save"/>
</form>






<br><br>
<h2>Add Static Element</h2>

{# <form action="{%url AddStaticElement gslug slug%}" method="post" enctype="multipart/form-data"> #}
{# {% csrf_token %} #}
{# <table> #}
{# {{StaticElementForms}} #}
{#  #}
{# </table> #}
{# <input type="submit" value="Add this element" /> #}
{# </form> #}
{# above works #}


<form action="{%url AddStaticElement gslug slug%}" method="post" enctype="multipart/form-data">
		{{StaticElementForms.management_form}}

	{%for f in StaticElementForms %}
		{% csrf_token %} 
		{%if forloop.counter <= StaticElementForms.initial_form_count %}
			<table>{{f.as_table}}</table>
			<input type="submit" value="Edit this element" />
		{%else%}
			<table>{{f.as_table}}</table>
			<input type="submit" value="Add this element" />
		{%endif%}
		<br><br>
	{%endfor%}
</form>


{%endblock%}