{%extends "create/base.html" %}

{%block extrahead%}
		<link rel="stylesheet" media="all" href="{{STATIC_URL}}create/guide.css"/>

	<script src="{{STATIC_URL}}create/guide.js"></script>
	<script type="text/javascript">
		{# var all_cards_json = '{{all_cards_json|safe|escapejs}}'; #}
		var guide_json = '{{guide_json|safe|escapejs}}'; 
	</script>

{%endblock%}

{%block header%}
	<div class="headerTitle">Edit Guide</div>
{%endblock%}

{% block content %} 

<h1>{{guide.title}}</h1>
<h2>{{guide.description}}</h2>
<br><br>
{# {%for card in guide.card_set.all%} #}
{# 		<div class="smallcardWrapper"> #}
{# 		{{card.card_number}} #}
{# 			<div class="smallcard"> #}
{# 				{{card}} #}
{# 				{%if card.primary_media%} <img src="{{card.primary_media.file.thumb_url}}" style="width:50px"> {%endif%} #}
{# 			</div> #}
{# 			<br><a href="{{card.get_absolute_url}}"> View</a> | <a href="{% url EditCard gslug=card.guide.slug, id=card.id %}"> Edit</a> #}
{#  #}
{# 		</div> #}
{# {%endfor%} #}

{# <div data-bind="text:title"></div> #}


<div class="all_card_holder" data-bind="template: {name: 'smallCardTemplate',
				  						foreach: VM.cards,

						 				beforeRemove: function(elem) {$(elem).slideUp() },
										afterAdd: function(elem) {$(elem).hide().slideDown() } }"></div>
										

{%load verbatim_templatetag%} 


{%verbatim%}
	<script id='smallCardTemplate' type='text/html'>
		<div class="smallcard">
			<span data-bind="text: title() ? title: 'Untitled'"></span>
			{{if primary_media }}<br><img src="${primary_media.file.thumb_url}"> 
			{{/if}} <a href="#">EDIT</a>
		</div>
	</script>
{%endverbatim%}
{% endblock %} {# end content #}

{%block sidebar%}
	<form action="" method="post">
	{% csrf_token %}
	<table>	{{form.as_table}}</table>
	<input type="submit" value="Edit guide" />
	</form>
{%endblock %}
