{# {%if elementid %} #}
{# <form action="{%url EditInteractiveElement gslug=gslug slug=slug elementid=elementid %}" method="post" enctype="multipart/form-data"> #}
{# {%else%} #}
<form action="{%url AddInteractiveElement gslug=gslug slug=slug %}" method="post">
{# {%endif%} #}

{% csrf_token %}

<table>
{{interactive_element_form.as_table}}
</table>

{# {%if elementid %} #}
{# <input type="submit" value="Edit element" />  #}
{#  #}
{# <a href="{%url EditStaticElement gslug=gslug slug=slug elementid=elementid %}" class="delete_element_button">Delete Element</div> #}
{#  #}
{#  #}
{# {%else%} #}
<input type="submit" value="Add Interaction" name="add_{{key}}"/> 
{# {%endif%} #}

</form>
