{%extends "base.html" %}

{%block title%}Edit Card{%endblock%}

{%block extrahead%}

		<link rel="stylesheet" media="all" href="{{STATIC_URL}}upload-plugin/jquery.fileupload-ui.css"/>
		<script type="text/javascript" src="{{STATIC_URL}}upload-plugin/jquery.iframe-transport.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}upload-plugin/jquery.fileupload.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}upload-plugin/jquery.fileupload-ui.js"></script>
		<link rel="stylesheet" href="{{STATIC_URL}}upload-plugin/thumbnail-scaling.css">
		

		
		<script type="text/javascript" src="{{STATIC_URL}}js-libs/Markdown.Converter.js"></script> 
	    <script type="text/javascript" src="{{STATIC_URL}}js-libs/Markdown.Sanitizer.js"></script> 
	    <script type="text/javascript" src="{{STATIC_URL}}js-libs/Markdown.Editor.js"></script>
	
	
	 	<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>
		
		<script type="text/javascript" src="{{STATIC_URL}}create-card.js"></script>
		
		
		<script type="text/javascript">
			var static_url = "{{STATIC_URL}}";
			var current_card_id ="{{card.id}}";
			var guide_id = {{card.guide.id}};
			var guide_slug = "{{card.guide.slug}}";
			var initial_card_json= '{{card_json|safe|escapejs}}';
			var guide_json = '{{guide_json|safe|escapejs}}'; 
			var primary_media_json = '{{primary_media_json|safe|escapejs}}'; 
			var edit_guide_url = '{% url EditGuide gslug=card.guide.slug %}'
			// TODO replace with all_cards with guide
			
			
			//http://stackoverflow.com/questions/2711443/questions-about-jquerys-getscript
			//     Aviary 
			// requires: http://feather.aviary.com/js/feather.js
			
			var featherEditor = new Aviary.Feather({
				openType: 'lightbox', // or 'float' and add something to set off the image being edited
				theme: 'black',
				apiKey: 'f64d09c9c2b5ea52e4c167b4264e4344',
				// tools: ['rotate', 'flip', 'resize'],
				onSave: function(imageID, newURL) {
					var img = document.getElementById(imageID);
					img.src = newURL;
					featherEditor.close();
					the_element_ko = ko.utils.arrayFirst(VM.mediaelements(), function(item) { return (item.client_id()+ 'img') === imageID;})
					the_element_ko.external_file(newURL)
				},
			}); //end aviary inialization
			
</script>
{%endblock%}

{%block header%}
{# <li> <span class="location">Editing Card</span></li> #}
<li class="menu"> 
  {# <a href="#" class="menu active">{{card.guide.title}}</a>  #}
  <a href="#" class="menu active">Editing <span data-bind="text: !title()  ? 'This Card': title"></span></a> 
  <ul class="menu-dropdown"> 
	<li><a target="_blank" href="{% url CardDetailViewByIdRedirect id=card.id %}">Preview <span data-bind="text: !title()  ? 'This Card': title"></span></a></li> 
    <li><a href="{% url EditGuide gslug=card.guide.slug %}"> Edit Guide</a></li> 
    <li><a href="{% url BuildCard gslug=card.guide.slug %}">Add a New Card</a></li> 
    <li class="divider"></li> 
    <li><a href="{% url EditGuide gslug=card.guide.slug %}#publish">Publish {{card.guide.title}}</a></li> 
  </ul> 
</li> 



{%endblock%}

{%load verbatim_templatetag%} 

{%block content%}
<div class="cardwrap">
{# <div class="cardwrap" data-bind="style:{background: primary_is_bg()&&VM.mediaelements().length ? 'url('+ VM.mediaelements()[0].file.file() +' ) center center no-repeat' : 'none'}" style='background-size: cover'>  #}
	<div class="card">
		<div class="title adder" tabindex="3" data-bind="event:{ focusin: turnOnEditing, focusout: turnOffEditing, keypress: didPressEnter}">

			<a class="closex closer" href="#">x</a>				
			<div class="adder_inner">
				<h1 data-bind="text: !title()  ? 'Clever Title Here': title, css: { notBlank: title() }"></h1>
				<input id="title" name="card_title" type="text" class="tinput"  data-bind="value:title, valueUpdate: 'afterkeydown'">
				<button class="btn tiny smallOK" id="titleOK" data-bind="click: turnOffEditing, clickBubble: false">OK</button>

			</div>
		</div>
		
		<div id="media"  > {# class="files" #} {# upload-template #}
			<div data-bind="template:{name: 'mediaTemplate',  foreach: VM.mediaelements}"></div>
		</div> {# /#media elements #}
		
		<div class="adder media" data-bind="css:{minimized: VM.mediaelements().length}" >
			<a class="closex closer" href="#">x</a>
			<div class="adder_inner">
				<div class="addertop">
					<h2>Add <br class="SoM"> Media</h2>
					{# <h2>Add <span data-bind="text:media_type" style="text-transform: capitalize;"></span> </h2> #}{# <img src="{{STATIC_URL}}img/image-icon.png" data-media_type="image" class=" icon" data-bind="event: {mouseover: changeMediaType, mouseout: changeMediaTypeBack}"><img src="{{STATIC_URL}}img/video-icon.png" data-media_type="video" class=" icon" data-bind="event: {mouseover: changeMediaType, mouseout: changeMediaTypeBack}"><img src="{{STATIC_URL}}img/audio-icon.png" data-media_type="audio" class=" icon" data-bind="event: {mouseover: changeMediaType, mouseout: changeMediaTypeBack}"><img src="{{STATIC_URL}}img/upload-icon.png" data-media_type="whatever" class=" icon" data-bind="event: {mouseover: changeMediaType, mouseout: changeMediaTypeBack}"> #}
				</div>
				<div class="sub_add">
					<div class="left_wrap">
					 <h4>From your computer</h4>
					{%include 'create/fileupload.html'%}
					<p><br class="SoM"><strong class="green">Drag files here</strong> <span class="HoM">from your computer </span> . <span class="HoM"><br>In a modern browser, it's that easy.</span></p>
					</div>
				</div>
				<div class="sub_add">
					<h4>From the web</h4>
					<button class="btn large" data-controls-modal="addExternalMediaModal" data-backdrop="true" data-keyboard="true">Youtube, Flickr, Etc.</button><p><strong>Coming soon</strong><br></p>

		        
				</div>
				{# <div class="sub_bottom"> #}{# 	<h4>From Your Files</h4> <p clas="HoM">Well, you don't have any yet. But we wanted to let you know that they're reusable.<br> #}{# </div> #}
			</div> <!-- /adder_inner -->
		</div><!-- end adder media -->



		<div class="adder text" tabindex="5" data-bind="event: { focusin: turnOnEditing, focusout: turnOffEditing},  css: { notBlank: text() }">
			<a class="closex closer" href="#">x</a>
			<div class="adder_inner">
				 <div class="cardtext" data-bind="visible: !text()"><p>Text for your card. Easy Markdown formatting. Totally optional.</p></div>
				 <div id="wmd-preview" class="wmd-panel wmd-preview cardtext" data-bind="visible: text()">Placeholder</div>

	              <form class="wmd-panel"><div id="wmd-button-bar"></div>
					<textarea data-bind="value:text, valueUpdate: 'afterkeydown'" class="xxlarge tinput wmd-input" id="wmd-input" name="textarea" placeholder="Add some text here. You know, if you want to..."></textarea> </form>
					<button class="btn tiny smallOK" id="card_textOK" data-bind="click: function(event){turnOffEditing(event), VM.save_card()}">OK</button>
			</div>
			<a class="#" id="markdownhelpbutton">Formatting Help</a>
			{% include "create/markdownhelp.html"%}
		</div>
		

		
		
		<div class="adder input">
			<a class="closex closer" href="#">x</a>
			<div class="adder_inner">
				<h2>Add an Interaction</h2>
				<span class="HoM">Move your users to different cards using these interactions<br></span>
				<button class="btn large " data-input_type="button" data-input_verb="add" data-bind="click: showInputModal">Add Button</button>
				<button class="btn large" data-input_type="map" data-input_verb="add" data-bind="click: showInputModal">Add Map</button>
				<button class="btn large" data-input_type="timer" data-input_verb="add" data-bind="click: showInputModal">Add Timer</button>
			</div>
		</div> <!-- /adder input -->
		
		{# INPUT ELEMENTS #}
		<div data-bind="template:{name: VM.inputTypeTemplate,  foreach: VM.inputelements,

		 				beforeRemove: function(elem) {$(elem).slideUp() },
						afterAdd: function(elem) {$(elem).hide().slideDown() }}"> </div>


		<div data-bind="template:{name: VM.inputTypeTemplate,  foreach: VM.mapelements,

		 				beforeRemove: function(elem) {$(elem).slideUp() },
						afterAdd: function(elem) {$(elem).hide().slideDown() }}"> </div>
							
							
			<div id="prev_and_next" class="prev_and_next" data-bind="visible: !(is_floating_card())">
				<br>
				{%if prev_card%}<div class="input_element prev"> <a class="input-button" href="{%url EditCard gslug=prev_card.guide.slug id=prev_card.id  %}"> ⬅ Previous</a> </div>{%endif%}
				{%if next_card%}<div class="input_element next"><a class= "input-button" href="{%url EditCard gslug=next_card.guide.slug id=next_card.id  %}">Next ➡ </a></div>{%endif%}
			</div>

		
	</div> <!-- /card --> 
</div> <!-- /cardwrap -->



{# end new #}
{# 	********************************************************************************************************************************************************************************** #}
{# 	********************************************************************************************************************************************************************************** #}
{%endblock%}

{%block more%}
<br>
<h3> Cards In <i>{{guide.title}}</i></h3>
<div class="all_card_holder" data-bind="template: {name: 'smallCardTemplate',
  						foreach: VM.all_cards,
		 				beforeRemove: function(elem) {$(elem).slideUp() },
						afterAdd: function(elem) {$(elem).hide().slideDown() } }">
</div>

{%include "create/js_templates_and_modals.html"%}
{%endblock%}



{%block sidebar%}

<div class="sidebar">
	<button class="btn primary large" data-bind="click: VM.save_card, text: VM.saving_message() ? VM.saving_message : 'Save', css: {crazy: VM.saving_message} ">Save Card</button>	<br>
	<a href="{% url CardDetailViewByIdRedirect id=card.id %}" target="_blank" class="btn info ">Preview <span data-bind="text: !title()  ? 'Card': title"></span></a>
	<a href="{% url EditGuide gslug=card.guide.slug %}" class="btn ">Guide Overview</a>
	<h3>Card Options</h3>

	<form class="inputs-list no-text-select">

	<label>
		<input type="checkbox" data-bind="checked: is_floating_card" id="is_floating_card">
		<span>This is a sidecard 
			<a rel="popover" data-content="<p>Side cards are outside the normal flow of the guide.</p><p> Mostly, this means they don't have previous and next buttons, and your users won't get to them from the previous and next buttons on other cards.</p>" data-original-title="Sidecards" class="tip">?</a>
			
		</span>
	</label>

	<label>
		<input type="checkbox" data-bind="checked: autoplay">
		<span>Autoplay Video and Audio </span>
	</label>

	<label>
		<input type="checkbox" name="primary_is_bg" value="primary_is_bg" data-bind="checked: primary_is_bg">
		<span>Main Image is Background
			
			<a rel="popover" data-content="<p>This will make the card's main image a full-bleed background. Very pretty, but can slow down your guide if you've used a super-duper high resolution image</p>" data-original-title="Background: Big Image" class="tip">?</a>

			</span>
	</label>

	<label>
		<input type="checkbox" name="optionsCheckboxes" value="option2" >
		<span>Give Images Shadows</span>
	</label>

	</form>
	
<br><a class="btn primary" href="{% url BuildCard gslug=card.guide.slug %}">Add New Card</a><br><br>

	<button class="btn danger delete_link">Delete Card</button>
	
	<button href="#" class="delete_link_real btn danger" data-bind="click: deleteCard">Sure you want to delete this card?</button>
		
</div> {# /sidebar #}

		
{# <div id="modal-from-dom" class="modal hide fade"> #}
{#   <div class="modal-header"> #}
{#     <a href="#" class="close">&times;</a> #}
{#     <h3>Modal Heading</h3> #}
{#   </div> #}
{#   <div class="modal-body"> #}
{#     <p>One fine body…</p> #}
{#   </div> #}
{#   <div class="modal-footer"> #}
{#     <a href="#" class="btn primary">Primary</a> #}
{#     <a href="#" class="btn secondary">Secondary</a> #}
{#   </div> #}
{# </div> #}
{#  #}
{# <button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn danger">Launch Modal</button> #}

{%endblock%}
{# end sidebar block #}