<div id="fileupload">
    <form method="post" action="/upload/new/" enctype="multipart/form-data">
        <div class="fileupload-buttonbar">
            {% csrf_token %}
            {# <label > #}
                {# <span><img src="{{STATIC_URL}}img/upload-icon-green.png">Upload: Drag files here</span> #}
				<label for="thefileinput" class="btn large" ><span class="green_plus">+</span> Upload</label>
                <input id="thefileinput" type="file" name="file" multiple>
            	</label>
             	<input type="hidden" name="owner" value="{{user.id}}">

            {# <button type="submit" class="start">Start upload</button> #}
            {# <button type="reset" class="cancel">Cancel upload</button> #}
            {# <button type="button" class="delete">Delete files</button> #}
        </div>
    </form>
    <div class="fileupload-content">
        <div class="files"></div>
        <div class="fileupload-progressbar"></div>
    </div>
</div>
	{% load upload_tags %}
	{% upload_js %}
