<table id="markdownhelp" style="display: none; font-size: 1em;" class="editing">
	<tbody>
		<tr style="background-color: #e8e8e8; text-align: center"><td colspan="2">You can use the buttons above, or the Markdown codes below to format your text.<br><br> <b>Hint:</b> To make a new paragraph, hit enter <i>twice</i>.</td></tr>
		<tr style="background-color: #ffff99; text-align: center">
		<td><em>you type:</em></td><td><em>you see:</em></td></tr>
		<tr><td>*italics*</td><td><em>italics</em></td></tr>
		<tr><td>**bold**</td><td><b>bold</b></td></tr><tr><td>[guidesly!](http://guidesly.com)</td><td><a href="http://guidesly.com">guidesly!</a></td></tr><tr><td>* item 1<br>* item 2<br>* item 3</td><td><ul><li>item 1</li><li>item 2</li><li>item 3</li></ul></td></tr><tr><td>&gt; quoted text</td><td><blockquote>quoted text</blockquote></td></tr><tr><td>Lines starting with four spaces<br>are treated like code:<br><br><span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;</span>if 1 * 2 &lt; 3:<br><span class="spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>print "hello, world!"<br></td><td>Lines starting with four spaces<br>are treated like code:<br><pre>if 1 * 2 &lt; 3:<br>&nbsp;&nbsp;&nbsp;&nbsp;print "hello, world!"</pre></td></tr><tr><td>~~strikethrough~~</td><td><strike>strikethrough</strike></td></tr><tr><td>super^script</td><td>super<sup>script</sup></td></tr>
		<tr style="background-color: #e8e8e8; text-align: center; font-size: .8em;"><td colspan="2"><i>Hat tip to reddit.com for this guide.<i></td></tr>
		
		</tbody></table>