body
{
	background-color: white;
}

strong, .strong
{
	font-weight: bold;
}

p.small
{
	font-size: .9em !important;
}

.hidden
{
	display:none;
}

.shown
{
	display: block !important;
}

.centext
{
	text-align: center;
}

.topbar
{
	position: relative !important;
}

.capitalized
{
	text-transform: capitalize;
}

.left
{text-align: left;}

.center
{text-align:center;}

/*Generally contains a  ? */
.tip
{
	background-color: #f3f3f3;
	border-radius: 5px;
	padding: 1px 2px 1px 2px;
}


label.btn
{
	width: auto;
}

.nofloat
{
	float: none !important;
}

.closex {
	
	float: right;
	margin-top: -2px;
	margin-right: 5px;
	margin-bottom: 5px;
	color: #000;
	font-size: 20px;
	text-shadow: 0 1px 0 #ffffff;
	.opacity(30);
	line-height: 1em;
}

.container-fluid > .content
{
	min-height: 600px;
}


/*HOME SCREEEEEEN*/
/*UPDATE*/
.listedGuidess
{
	width: 100%;
	float: left;
}

.listedGuides .smallcard
{
	height: 10em;
	cursor: pointer;
}

.listedGuides.yourGuides .smallcard
{
	cursor: default;
}


.listedGuides .smallcardWrapper .controls a
{
	display: inline;
}




/*GUIDE THUMBS

       Catalog / Home screen Other people's Guides / */

#guideList
{
	background-color: #fafafa;
	padding: 10px;
}

a.guide_thumb
{
	background-color: white;
	border: 1px solid @grayLight;
	padding: 10px;
	width: 200px;
/*	height: 150px;*/
	height: 165px;
/*	margin: 0 1.5em 1.5em 0;*/
	position: relative;
	overflow: hidden;
	display: block;
/*	.box-shadow(0px 0px 3px @grayLight);*/
	
	float: left;
	
	.guide_title
	{

		width: 100%;
		text-align: center;


		color: @grayDark;
		text-decoration: none;

	}
	&:hover
	{
		text-decoration: none;
	}
}

a.guide_thumb:hover 
{
	background-color: #d6ffff;
	
	.guide_title
	{
/*		#translucent > .background(@blue, 0.4);*/
	}
	
}


#popular_tags ul.pills li
{
	display: block;
	width: 80%;
	clear: both;
	margin-left: -12px;
}



.topbar
{
	li span.location {
        display: block;
        float: none;
        padding: 10px 10px 11px;
        padding: 10px 10px 5px;
        line-height: 19px;
        text-decoration: none;
		background-color: #222;
        background-color: rgba(0,0,0,.5);
		.border-radius( 0 0 8px 8px);
		color: @gray;
      }
	}

.standout
{
	background-color: @standOutBG;
	padding: 1em 0;
	
	p {font-size: 1.1em;}
	a.big {font-size: 1.3em;}
}

.disabled
{
	color: @gray;
}



/*Guide Editing Specific*/

#publish
{
	margin-top: 8em;
}

.input input, .input textarea
{
	color: @grayDark;
	&:focus
	{
		background-color: @editingColor;	
		
	}
}


// FOR DJANGO FORM ERRORS in messages
.alert-message
{
	ul.errorlist li
	{
		font-size: @basefont + 5;
		list-style: none;
		color: white !important;
		text-transform: capitalize;
		
		ul
		{padding: 0; margin: 0;	}
		
		ul li
		{
			display: block;
			float: left;
			color: white;
			font-size: @basefont;
			list-style: none;
		}
	}
}



.no-text-select
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.cf
{
.clearfix;
}








.guideBox
{
	float: left;
	z-index: 0;
	position: relative;
	margin: 0 1.5em 1.5em 0;
	
}


.innerShadow
{
	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}


.drop-shadow {
/*         position:relative;
         float:left;
         width:40%; 
         padding:1em; 
         margin:2em 10px 4em; */

         background:#fff;
         -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
            -moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;
                 box-shadow:0 1px 2px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1) inset;

	            -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	               -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	                    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

     }

     .drop-shadow:before,
     .drop-shadow:after {
         content:"";
         position:absolute; 
         z-index:-2;
     }
     
     .drop-shadow p {
         font-size:16px;
         font-weight:bold;
     }
     
     /* Lifted corners */

     .lifted {
         -moz-border-radius:4px; 
              border-radius:4px;
     }
     
     .lifted:before,
     .lifted:after { 
         bottom:15px;
         left:10px;
         width:50%;
         height:20%;
         max-width:300px;
         -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);   
            -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
                 box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
         -webkit-transform:rotate(-3deg);    
            -moz-transform:rotate(-3deg);   
             -ms-transform:rotate(-3deg);   
              -o-transform:rotate(-3deg);
                 transform:rotate(-3deg);
     }
     
     .lifted:after {
         right:10px; 
         left:auto;
         -webkit-transform:rotate(3deg);   
            -moz-transform:rotate(3deg);  
             -ms-transform:rotate(3deg);  
              -o-transform:rotate(3deg);
                 transform:rotate(3deg);
     }
     
