html {min-height: 100%;}

body
{

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(20,20,20)),
    color-stop(0.59, rgb(36,36,36)),
    color-stop(1, rgb(56,56,56))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(20,20,20) 0%,
    rgb(36,36,36) 59%,
    rgb(56,56,56) 100%
);


	font-family: 'Helvetica Neue', Arial, sans-serif;

}


#wrap
{
	padding: 15px;
/*	width: 650px;*/
	width: 800px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f2f2f2;
	border: 1px solid  white;
}

#messages
{
	color: brown;
}

h1 {font-size:2em; font-weight: bold; padding: 4px 0 6px 0;}
h2 {font-size:1.5em; font-weight: bold; padding: 3px 0 5px 0;}





.hidden {display:none;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;  font-size: 0;}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }


#topbar
{
	width: 100%;
	background-color: gray;
	padding-top: 5px;
	padding-bottom: 5px;
	top: 0px;
	position: absolute;
}
#topbar a
{
	color: black;
	text-decoration: none;
	padding: 0px 10px;
}




#slide_wrap
{
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	margin-top: 10px;
	background-color: #383838;
}

.slide
{
/*	margin-left: auto;
	margin-right: auto;
	width: 850px;*/
}

.slide h1
{
	text-align: center;
	padding-top: 15px;
	color: white;
	letter-spacing: .2em;
}

.slide .slide_text
{
	text-align: justify;
	color: #ededed;
	width:60%;
	font-size: 1.1em;
	margin-left: auto;
	margin-right: auto;
	line-height: 120%;
	margin-top: 15px;
	margin-bottom: 15px;
	color: white;
	letter-spacing:0.2em;
	
}

.big_image
{
	margin-left: auto;
	margin-right: auto;
	display: block;

/*	border: 1px solid white;*/

}

.slide_interactive_elements
{
	margin-left: auto;
	margin-right: auto;
	background-color: #262626;
	overflow: hidden;
	

	
}

.interactive_element a
{
	float: right;
	padding:15px;
	margin: 10px;
	background-color: #ededed;
/*	border: 1px solid black;*/
	text-decoration: none;
	color: black;
	border-radius: 4px;
	box-shadow: 0px 0px 4px black;
}
.interactive_element a:hover
{
	background-color: #ffefd1;
	text-decoration: underline;
	box-shadow: 0px 0px 4px orange;

}






.box
{
	position: relative;
	-moz-box-shadow: black 0px 1px 3px;
	-webkit-box-shadow: black 0px 1px 3px;
	box-shadow: black 0px 1px 3px;
/*	box-shadow: #7f7f7f 0px 1px 3px;*/


}

.box:before, .box:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
	z-index: -1;
} 

.box:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}