
body
{
	background-color: #efefef;
	background-color: #e2e2e2;
	font-family: 'Helvetica Neue', Arial, sans-serif;

}


#wrap
{
	padding: 15px;
/*	width: 650px;*/
	width: 700px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f2f2f2;
	border: 1px solid  white;
}

#messages
{
	color: brown;
}

h1 {font-size:2em; font-weight: bold; padding: 4px 0 6px 0;}
h2 {font-size:1.5em; font-weight: bold; padding: 3px 0 5px 0;}







.hidden {display:none;}


.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;  font-size: 0;}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }