
#slide_being_edited
{
	width: 400px;
	min-height: 400px;
/*	max-height: 800px;*/
	background-color: #fcfce0;
	background-color: #fffdf7;
	padding: 10px;
/*	margin: 10px auto 10px auto;*/
	margin: 10px;
/*	border: 1px solid #7baad1;*/
	border: 1px solid #c1c18d;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

	#slide_being_edited.brand_new input, #slide_being_edited.brand_new textarea
	{
		color: gray;
	}


	#slide_being_edited input, #slide_being_edited textarea
	{

		display: block;
		text-align: center;
		margin: 25px auto 10px auto;
		color: black;

	}

	#slide_being_edited #id_title
	{

		font-size: 2em;
		width: 65%;
	}
	
	#slide_being_edited #id_text
	{
		width: 65%;
		height: 100px;
		padding-top: 5px;
	}
	
	#slide_being_edited .a_static_element:hover
	{
		background-color: white;
		cursor: pointer;
	}
	
	
#slide_element_toolbar
{

	float: right;
	width: 350px;
	margin-top: 10px;
}

.ui-accordion .ui-accordion-header
{
	margin-top: 5px;
}

.ui-accordion .ui-accordion-content
{
	padding: .3em;
	text-align: center;
}

#add_interactive_group.ui-accordion-content
{
	padding: 0em !important;
	text-align: left;
	width: 348px; 
	/*TODO use a real value*/

}
#add_interactive_group.ui-accordion-content h4 a, #add_interactive_group.ui-accordion-content h4 .ui-icon
{
	margin-left: 20px;
}


.ui-button .ui-button-text
{
/*	padding: .3em;*/
}

.button_form
{
	font-size: .8em;
	text-align: left;
	padding: 5px;
	margin-top: 10px;
}

.ui-tabs-nav
{
	background-color: white !important;
	background-image: none;
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-radius: 0px;
}
