<!doctype html>
<html lang="en">

	<head>
		<title>Learny!</title>

		<link rel="stylesheet" media="all" href="{{STATIC_URL}}/base.css"/>
		{# <script src="{{MEDIA_URL}}js/jquery.min.js"></script> #}
		{# <script src="{{MEDIA_URL}}js/jquery.hoverIntent.js"></script> #}
		{#  #}
		{# <script src="{{MEDIA_URL}}js/base.js"></script> #}
		{# <link rel="shortcut icon" href="http://static.zazerr.webfactional.com/zblog_site_media/img/favicon.gif"> #}

	</head>
	
<body>
	<div id="wrap">
	
		{% block content %} 
		Hi. If you're seeing this, something messed up. This is the base template dude...
		{% endblock %}

	</div> 	{# end #wrap #}

</body>
</html>
