<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
		<title>Guides.ly - {% block title %}{%endblock%}</title>
	
		<script type="text/javascript" src="{{STATIC_URL}}js-libs/jquery-1.6.1.min.js"></script>
		
		 <script type="text/javascript" src="{{STATIC_URL}}js-libs/jquery-ui-1.8.13.custom.min.js"></script>
		<link rel="stylesheet" media="all" href="{{STATIC_URL}}jui-css/aristo/jquery-ui-1.8.7.custom.css"/>
		
		<script type="text/javascript" src="{{STATIC_URL}}js-libs/jquery.tmpl.js"></script>
		
		<script type="text/javascript" src="{{STATIC_URL}}js-libs/knockout-1.2.1.debug.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js-libs/knockout.mapping.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js-libs/jquery.bootstrappopover.js"></script>
		
		{# // <script type="text/javascript" src="{{STATIC_URL}}create/thef.js"></script> #}
		

		{# // <script type="text/javascript" src="{{STATIC_URL}}js-libs/jquery-css-transform.js"></script> #}
		{# // <script type="text/javascript" src="{{STATIC_URL}}js-libs/rotate3Di.js"></script> #}


		<link rel="stylesheet" media="all" href="{{STATIC_URL}}base.css"/>

		<script type="text/javascript">
			var current_url ="{{request.path}}";
			$(document).ready(function(){	
				$("body").bind("click", function (e) {$('a.menu').parent("li").removeClass("open");});
				$("a.menu").click(function (e) {var $li = $(this).parent("li").toggleClass('open'); return false; });
				$('a.bootstrap-popover').bootstrapPopover();
	            
			});
		</script>
		
		<link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico">

		{%block extrahead%}{%endblock%}
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-24018749-2']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	
<body>
	
	

<div class="topbar-wrapper" style="z-index: 5;"> 
    <div class="topbar"> 
      <div class="fill">
        {%if is_fluid%}<div class="container-fluid"> {%else%} <div class="container">{%endif%}
          <h3><a href="/">Guidesly</a></h3> 
          <ul class="nav">
			{%block header%}
            {# <li class="menu">  #}
            {#   <a href="#" class="menu active">Your Awesome Guide To Something</a>  #}
            {#   <ul class="menu-dropdown">  #}
            {#     <li><a href="#">Overview</a></li>  #}
            {#     <li><a href="#">Add New Card</a></li>  #}
            {#     <li class="divider"></li>  #}
            {#     <li><a href="#">Publish</a></li>  #}
            {#   </ul>  #}
            {# </li>  #}
			{%endblock%}
          </ul> <!-- /-nav -->

          <ul class="nav secondary-nav"> 
            {# <li class="active"><a href="/create">Create</a></li>  #}
            <li><a href="/create">Create</a></li> 
            <li><a href="#">Enjoy</a></li>
	        <li><a href="/home">⌂ Home</a></li> 

			{% if user.is_authenticated %}
            <li class="menu">
              <a href="#" class="menu">Hey {{user}} ! </a>
              <ul class="menu-dropdown"> 
	            <li><a href="#">Your Guides</a></li> 
	            <li><a href="#">Preferences</a></li> 
                <li class="divider"></li> 
                <li><a href="/accounts/logout">Logout</a></li> 
              </ul> 
            </li>
			{%else%}
			  <li><a href="/accounts/register" class="">Sign up !</a></li>
			{%endif%}
          </ul> <!-- /secondary-nav -->

        </div> 
      </div> <!-- /fill --> 
    </div> <!-- /topbar --> 
  </div> <!-- /topbar-wrapper -->

{%if is_fluid%}
<div class="container-fluid">
{%block sidebar%}{%endblock%}
{%else%} <div class="container">{%endif%}
	<div class="content">
		{% if messages %}<div id="messages">
			{%for message in messages%}<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>{% endfor %}
		</div>{%endif%}

			{% block content %}
				Hi. If you're seeing this, something messed up. This is the base template dude...
			{% endblock %}

		</div> {# /content #}
	</div> {# /container #}
	
	{# for stuff like more cards in the card editor #}
	{%if is_fluid%}
	<div class="container-fluid">
		{%block more%}{%endblock%}
	</div>
	{%endif%}
	
	<footer id="footer">
		<div class="container">
			<div class="centext">Guidesly.com</div> 
			<br>
			{# <div class="F">F</div> #}
		</div>
	</footer>
	


{# {%include "thef.html"%} #}

</body>
</html>
