<!doctype html>
<html lang="en">

	<head>
		<title>Learny!</title>

		<link rel="stylesheet" media="all" href="{{STATIC_URL}}/base.css"/>
		<link rel="stylesheet" media="all" href="{{STATIC_URL}}/create.css"/>
		<script src="{{STATIC_URL}}/jquery-1.6.1.min.js"></script>
		{# <script src="{{MEDIA_URL}}js/base.js"></script> #}
		{# <link rel="shortcut icon" href=""> #}

	</head>
	
<body>
	<div id="wrap">
	
	{% if messages %}
		<div id="messages">{% for message in messages %}
		<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>{% endfor %}</div>
	{%endif%}
	
		{% block content %} 
		Hi. If you're seeing this, something messed up. This is the base template dude...
		{% endblock %}

	</div> 	{# end #wrap #}

</body>
</html>
