{% extends "videologue/root.html" %}

{% load i18n %}

{% block title %}{% trans "Latest Videos" %}{% endblock %}

{% block content %}

<h1>{% trans "Latest Videos" %}</h1>

{% if latest %}
    {% for video in latest %}
    <div class="gallery-video">
        <a href="{{ video.get_absolute_url }}"><img src="{{ video.get_thumbnail_url }}" alt="{{ video.title }}"/></a>
    </div>
    {% endfor %}
{% else %}
<p>{% trans "No videos were found." %}</p>
{% endif %}
<p><a href="{% url vl-video-list 1 %}">{% trans "View all videos" %}</a></p>

{% endblock %}
