{# {%extends "enjoy/base.html"%}  #}


{%block extrahead%}

<head>
	<title>{{guide.title}}</title>
	<script src="{{STATIC_URL}}js-libs/jquery-1.6.1.min.js"></script> 
	
	<link rel="stylesheet" href="{{STATIC_URL}}js-libs/deck/themes/transition/horizontal-slide-zach.css">

	{# <link rel="stylesheet" href="{{STATIC_URL}}js-libs/deck/themes/transition/horizontal-slide.css"> #}
	{# <link rel="stylesheet" href="{{STATIC_URL}}js-libs/deck/themes/transition/fade.css"> #}

	<link rel="stylesheet" href="{{STATIC_URL}}enjoy_base.css" type="text/css" media="screen"  charset="utf-8">
	
	<script src="{{STATIC_URL}}js-libs/deck/modernizr.custom.js"></script>
	                

   {# Mediaelement JS #}     
	<script src="{{STATIC_URL}}js-libs/mediaplayer/jquery.js"></script>  
	<script src="{{STATIC_URL}}js-libs/mediaplayer/mediaelement-and-player.min.js"></script>  
	<script src="{{STATIC_URL}}js-libs/mediaplayer/mediaelement-and-player.js"></script>
	<link rel="stylesheet" href="{{STATIC_URL}}js-libs/mediaplayer/mediaelementplayer.css"/>   
	<link rel="stylesheet" href="{{STATIC_URL}}js-libs/mediaplayer/mediaelementplayer.min.css"/>    
    
	
	<script>
	var current_media_type;
	var guide_title = "{{guide.title}}";
	var current_card_slug;          

	</script>

	<style>{{card.guide.theme.text}}</style>  
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24018749-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
{%endblock%}


{% block content %} 
{%load markup%}

<body>

<header id="header">
<a href="/">Guides.ly</a>
<div class="small">Controls<br> Contents <br> Comments</div>
	<div class="toc">
	
	{%for card in guide.cards.all %}
	 	<a href="{{card.get_absolute_url}}" data-destination="{{card.slug}}" class="goto" >
		{{card}}
		</a><br>
	{%endfor%}
	</div>
	
	<div class="mute">
		<label for="mute">Mute Media?</label><input type="checkbox" id="mute">
	</div>
	
</header>

<article class="deck-container">

{%for card in guide.cards.all %}
			{# This uglyness gives cards classes relating to whats inside them #}

	<div data-title="{%firstof card.title card.card_number%}" data-slug="{{card.slug}}" class="card {%if card.is_floating_card and guide.is_linear %} is_floating_card {%endif %} {%if not card.title%} notitle {%endif%}  {%if card.primary_media%} hasprimarymedia{%endif%} {%if not card.primary_media%} noprimarymedia{%endif%} {%if not card.text%} notext {%endif%} {%if card.input_elements%} hasinputs{%endif%} {%if not card.is_floating_card%} hasprevandnext {%endif%} {%if card.primary_is_bg %} primary_is_bg {%endif%} {%if card.has_thumbs%}hasthumbs {%endif%}"
			id = "{%firstof card.slug card.card_number card.id %}" {%if card.primary_is_bg%}style="background: url( '{{card.primary_media.file.url}}' ) center center no-repeat; background-size: cover" {%endif%}
			{%if card.autoplay%} data-autoplay="1"{%endif%}>
			
			<div class="loader">Loading<br><img src="{{STATIC_URL}}/img/ajax-loader.gif"></div>					
			
			{# TITLE of CARD  #}
			{%if card.title%}
				<h1 class="card_title">{{card.title}} </h1>
			{%endif%}
		
			{# PRIMARY MEDIA #}
			{%if not card.primary_is_bg and card.primary_media.type == 'image' %}
				<img src="{{card.primary_media.file.image.display_image.url}}" class="primary_media">
				<script>current_media_type = 'image'</script>
				<div class="caption">{{card.primary_media.title}}</div>
			{%endif%}
		
		    {%if card.primary_media.type == "video"%}
				{%include "enjoy/videoplayer.html" %} {# there's still a div with class primary_media in there #}
				{# [Video Player: ] {{card.primary_media.file}} #}
				<script>current_media_type = 'video' </script>
				<div class="caption">{{card.primary_media.title}}</div>   
		    {%endif%}
		
			{# Audio will never be primary, and there will only be one audio #}
		    {%if card.the_audio %}
			   {#{{card.the_audio}}#}
			<center>  
				<audio id="player" type="audio/mp3" controls="controls">   
						<source src="{{card.primary_media.file.file.url}}"> 
							</audio>        
			 </center>
							
				 
				<script>
			    current_media_type = 'audio'
			    $('video,audio').mediaelementplayer();     
				</script>
		    {%endif%}

	
			{# THUMBNAILS #}
			{%if card.mediaelement_set.all|length > 1 %}
			<div class="thumbs">
			{%for el in card.mediaelement_set.all%}
				{%if el.type == 'image' %}
					<a href="{%if card.primary_is_bg %}{{el.file.url}} {%else%}{{el.file.image.display_image.url}}{%endif%}" class="thumblink {% if el == card.primary_media %} activeThumbLink{%endif%}" data-media_type="{{el.type}}" title="{{el.title}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
				{%if el.type == 'video'%}
				    <a href="{{el.file.url}}" class="thumblink" data-media_type="{{el.type}}" title="{{el.title}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
				{%if el.type == 'other'%}
				    <a href="{{el.file.url}}" class="thumblink" data-media_type="{{el.type}}" title="{{el.title}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
			{%endfor%}
			</div>
			{%endif%} {#  end if greater than 1 #}

					
			{# TEXT #}
			{%if card.text%}
			<div class="card_text">
				{{card.text|markdown}}
			</div>
			{%endif%}

			<div class="input_wrapper">	
				{%for el in card.inputelement_set.all%}
					<div class="input_element nonlinear">
						<a data-destination="{{el.default_action.goto.slug}}" class='goto' href='{{el.default_action.goto.get_absolute_url}}'>{{el.button_text}}</a>
					</div>
				{%endfor%}		
			</div>
		
			{%if not card.is_floating_card%}
			<div class="prev_and_next">
				{%if card.cget_prev_card %}<div class="input_element prev"><a href="{{card.cget_prev_card.get_absolute_url}}"> ⬅ Previous</a></div>{%endif%}
				{%if card.cget_next_card %}<div class="input_element next"><a href="{{card.cget_next_card.get_absolute_url}}">Next ➡</a></div>{%endif%}
			</div>
			{%endif%}


			
	</div> {# end .card #}
			
{%endfor%}




</article> {# end deck-container #}



{# <script src="{{STATIC_URL}}js-libs/jquery.jplayer.min.js" type="text/javascript"></script> #}
{# <script src="{{STATIC_URL}}enjoy/nav.js" type="text/javascript" charset="utf-8"></script> #}
{# // <script src="{{STATIC_URL}}enjoy/card.js"></script> #}

{# Good #}
<script src="{{STATIC_URL}}js-libs/deck/core/deck.core.js"></script>
<script src="{{STATIC_URL}}js-libs/deck/extensions/hash/deck.hash.js"></script>

{# Meh #}
{# <script src="{{STATIC_URL}}js-libs/deck/extensions/navigation/deck.navigation.js"></script> #}

{# <script src="{{STATIC_URL}}js-libs/deck/extensions/menu/deck.menu.js"></script> #}
{# <script src="{{STATIC_URL}}js-libs/deck/extensions/goto/deck.goto.js"></script> #}
{# <script src="{{STATIC_URL}}js-libs/deck/extensions/status/deck.status.js"></script> #}

<script>
$(document).ready(function(){
	console.log('your doc is ready, ser');
   // VideoJS.setupAllWhenReady(); 
   
	
	$.deck('.card', {
			keys: {
				next: -1, // No key activation
				previous: -1 // No key activation
			}
		});
	
//set the TOC up with the current card, and the video player
	inital_card = $.deck('getSlide');
	current_card_slug = inital_card.data("slug");
	
	$("#header").find("a.goto[data-destination="+current_card_slug+"]").addClass("active");
	if (inital_card.data("autoplay"))
	 //   $.doTimeout(300, function(){inital_card.find(".video-js").player().play();});
		
	$("#header").hover(
		function(){
			$(this).addClass("hovered");
			$(this).doTimeout('showtoc'); //cancels the timer
		},
		function(){	$(this).doTimeout('showtoc', 1000, function(){this.removeClass("hovered");});	}	);

//Bind the keys for back and forward
	$(window).keydown(function(event) {
		if (event.keyCode == '39')
		{
			next_button= $.deck('getSlide').find('.prev_and_next .input_element.next');
			if (next_button.length)
				$.deck('next');
			event.preventDefault();
			return false;
		} //end 39
		
		if (event.keyCode == '37')
		{
			prev_button= $.deck('getSlide').find('.prev_and_next .input_element.prev');
			if (prev_button.length)
				$.deck('prev');
			event.preventDefault();
			return false;
		} //end 37
		
	}); //end keypress binding
	

// On Deck Change, ...change the title and update the toc
	$(document).bind('deck.change', function(event, from, to) {	
		card = $.deck('getSlide', to);
		title = $(card).data("title");
		current_card_slug = $(card).data("slug");
		
		document.title = guide_title + ': '+ title;
		$("#header a.goto").removeClass("active");
		$("#header").find("a.goto[data-destination="+current_card_slug+"]").addClass("active");
		
		if (card.data("autoplay"))
			card.find(".video-js").player().play();

	});

// Bind prev and next buttons to move the deck	
	$('.input_element.prev').click(function(event) { $.deck('prev'); return false;});
	$('.input_element.next').click(function(event) { $.deck('next'); return false;});
	
	
// Bind other buttons to move deck	
	$('a.goto').click(function(event) {
		// console.log($.deck('getSlides'));
		destination= $(event.target).data("destination");
		index= $(".card").index( document.getElementById(destination));
		// console.log(index);
		$.deck('go', index);
		return false;
	}); //end a.goto click
	
	
// Bind media thumbnails to change the video or image in the appropriate card
    $("a.thumbLink").live('click', function(event) {
		event.preventDefault();
		
		if ($(this).hasClass("activeThumbLink"))
			return false;
		
		var card = $.deck('getSlide');	
		$(card).find(".activeThumbLink").removeClass("activeThumbLink");
		$(this).addClass("activeThumbLink");
		var thumb_media_type = $(this).data("media_type");
        var url = this.href;
		var media_title = this.title;
		
		card.find(".caption").text(media_title);

		if (thumb_media_type == 'image')
		{
			if (current_media_type == 'video')
			{
				console.log('do something here to hide the video and replace it with an image');
			}
			
			if (card.hasClass("primary_is_bg"))
				{
					$(card).css('background-image', "url("+ url +")" ).addClass("loading");
					$('<img/>').attr('src', url).load(function(){
						$(card).removeClass("loading");
					});
				}
			else
			{
				$(card).addClass("loading").find(".primary_media").attr({ src: url});
				// bind to hide the loading indicator .loader
				$(card).find(".primary_media").load(function(){
					$(card).removeClass("loading");
				});
			}
		}//end if thumb_media_type is 'image'
	}); //end thumbsnail code live

}); //end docreadyyyyyyyyyyyyyyyyyyyyyy

//Fix for weird firefox horizontal scroll issue
window.addEventListener('MozMousePixelScroll', function(evt){
    if(evt.axis === evt.HORIZONTAL_AXIS){
        evt.preventDefault();
    }
}, false);


/*
 * jQuery doTimeout: Like setTimeout, but better! - v1.0 - 3/3/2010
 * http://benalman.com/projects/jquery-dotimeout-plugin/
 * 
 * Copyright (c) 2010 "Cowboy" Ben Alman
 * Dual licensed under the MIT and GPL licenses.
 * http://benalman.com/about/license/
 */
(function($){var a={},c="doTimeout",d=Array.prototype.slice;$[c]=function(){return b.apply(window,[0].concat(d.call(arguments)))};$.fn[c]=function(){var f=d.call(arguments),e=b.apply(this,[c+f[0]].concat(f));return typeof f[0]==="number"||typeof f[1]==="number"?this:e};function b(l){var m=this,h,k={},g=l?$.fn:$,n=arguments,i=4,f=n[1],j=n[2],p=n[3];if(typeof f!=="string"){i--;f=l=0;j=n[1];p=n[2]}if(l){h=m.eq(0);h.data(l,k=h.data(l)||{})}else{if(f){k=a[f]||(a[f]={})}}k.id&&clearTimeout(k.id);delete k.id;function e(){if(l){h.removeData(l)}else{if(f){delete a[f]}}}function o(){k.id=setTimeout(function(){k.fn()},j)}if(p){k.fn=function(q){if(typeof p==="string"){p=g[p]}p.apply(m,d.call(n,i))===true&&!q?o():e()};o()}else{if(k.fn){j===undefined?e():k.fn(j===false);return true}else{e()}}}})(jQuery);

</script>


</body>
{% endblock %}
