{# {%extends "enjoy/base.html"%}  #}


{%block extrahead%}

<head>
	<title>{{guide.title}}</title>
	<script src="{{STATIC_URL}}js-libs/jquery-1.6.1.min.js"></script> 
	
	<link rel="stylesheet" href="{{STATIC_URL}}js-libs/deck/themes/transition/horizontal-slide-zach.css">

	{# <link rel="stylesheet" href="{{STATIC_URL}}js-libs/deck/themes/transition/horizontal-slide.css"> #}
	{# <link rel="stylesheet" href="{{STATIC_URL}}js-libs/deck/themes/transition/fade.css"> #}

	<link rel="stylesheet" href="{{STATIC_URL}}css/base-enjoy.css" type="text/css" media="screen"  charset="utf-8">
	
	<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAC1MXyihyw4-SCshtFHEsUhQaX2oSJkwaYclP33v0pxwL2_vr2BRIodcW902hXtopW04R2Hx_9QHQGA"></script>
	
	<script type="text/javascript" src="{{STATIC_URL}}js-libs/bootstrap-twipsy.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js-libs/bootstrap-popover.js"></script>
	
	{# Imported w Getscript #}
	{# // <script type="text/javascript" src="{{STATIC_URL}}js-libs/infobox_packed.js"></script> #}
	
	 <script src="{{STATIC_URL}}/js-libs/deck/modernizr.custom.js"></script>
	
	{# Video JS #}
	<link rel="stylesheet" href="{{STATIC_URL}}js-libs/video-js.css" type="text/css" media="screen" title="Video JS" charset="utf-8">
   	 <script src="{{STATIC_URL}}js-libs/video.js" type="text/javascript" charset="utf-8"></script>
    
	
	<script>
	STATIC_URL = "{{STATIC_URL}}";
	var current_media_type;
	var guide_title = "{{guide.title}}";
	var current_card_slug;
	var requested_card_json= '{{requested_card_json|safe|escapejs}}' ;
	</script>

{# /*	<style>{{card.guide.theme.text}}</style>*/ #}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24018749-2']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
{%endblock%}


{% block content %} {%load markup%}

<body>

<header id="header">
	<a href="/">Guides.ly</a>
	{# <div class="small">Controls<br> Contents <br> Comments</div> #}
	{%if guide.owner == user%}
	<div id="editCard"> <a href="">Edit Card</a></div>
	{%endif%}
	<div class="small">Contents</div>
		<div class="toc">	
			{%for card in guide.cards.all %}
			 	<a href="{{card.get_absolute_url}}" data-destination="{{card.slug}}" class="goto" >
				{{card}}
				</a><br>
			{%endfor%}
		</div> {# /.toc #}
	
		<div class="mute">
			<label for="mute">Mute Media?</label><input type="checkbox" id="mute">
		</div>
	
</header>


<article class="deck-container">

{%for card in guide.cards.all %}

			{# This uglyness gives cards classes relating to whats inside them #}

	<div data-title="{%firstof card.title card.card_number%}" data-pk="{{card.id}}" data-slug="{{card.slug}}" class="card {%if card.is_floating_card and guide.is_linear %} is_floating_card {%endif %} {%if not card.title%} notitle {%endif%}  {%if card.primary_media%} hasprimarymedia{%endif%} {%if not card.primary_media%} noprimarymedia{%endif%} {%if not card.text%} notext {%endif%} {%if card.input_elements%} hasinputs{%endif%} {%if not card.is_floating_card%} hasprevandnext {%endif%} {%if card.primary_is_bg %} primary_is_bg {%endif%} {%if card.has_thumbs%}hasthumbs {%endif%} {%if card == requested_card %} the_requested_card {% endif %} {%if card.has_map%} hasmap {%endif%} "
			id = "{%firstof card.slug card.card_number card.id %}" {%if card.primary_is_bg%}style="background: url( '{% firstof card.primary_media.external_file card.primary_media.file.image.display_image.url %}' ) center center no-repeat; background-size: cover" {%endif%}
			{%if card.autoplay%} data-autoplay="1"{%endif%}>

			<div class="loader">Loading<br><img src="{{STATIC_URL}}/img/ajax-loader.gif"></div>					
			
			
			{# TITLE of CARD  #}
			{%if card.title%}
				<h1 class="card_title">{{card.title}} </h1>
			{%endif%}
		
			{# PRIMARY MEDIA #}
			{%if not card.primary_is_bg and card.primary_media.type == 'image' %}
				<img src="{% firstof card.primary_media.external_file card.primary_media.file.image.display_image.url %}" class="primary_media">
				<script>current_media_type = 'image'</script>
				<div class="caption">{{card.primary_media.title}}</div>
			{%endif%}
		
		    {%if card.primary_media.type == "video"%}
				{%include "enjoy/videoplayer.html" %} {# there's still a div with class primary_media in there #}
				{# [Video Player: ] {{card.primary_media.file}} #}
				<script>current_media_type = 'video'</script>
				<div class="caption">{{card.primary_media.title}}</div>
				
		    {%endif%}
		
			{# Audio will never be primary, and there will only be one audio #}
		    {%if card.the_audio %}
				{{card.the_audio}}
				[An Audio Player]
		    {%endif%}

	
			{# THUMBNAILS #}
			{%if card.mediaelement_set.all|length > 1 %}
			<div class="thumbs">
			{%for el in card.mediaelement_set.all%}
				{%if el.type == 'image' %}
					<a href="{%if card.primary_is_bg %}{{el.file.url}} {%else%}{{el.file.image.display_image.url}}{%endif%}" class="thumblink {% if el == card.primary_media %} activeThumbLink{%endif%}" data-media_type="{{el.type}}" title="{{el.title}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
				{%if el.type == 'video'%}
				    <a href="{{el.file.url}}" class="thumblink" data-media_type="{{el.type}}" title="{{el.title}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
				{%if el.type == 'other'%}
				    <a href="{{el.file.url}}" class="thumblink" data-media_type="{{el.type}}" title="{{el.title}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
			{%endfor%}
			</div>
			{%endif%} {#  end if greater than 1 #}

					
			{# TEXT #}
			{%if card.text%}
			<div class="card_text">
				{{card.text|markdown}}
			</div>
			{%endif%}

			{%if card.has_map%} 
			<div class="map_canvas"></div>
			
			 This card has a map.
			{%endif%}
			
			

			<div class="input_wrapper">	
				{%for el in card.inputelement_set.all%}
					
					{%if el.type = 'button'%}
					<div class="input_element nonlinear button">
						<a data-destination="{{el.default_action.goto.slug}}" class='goto' href='{{el.default_action.goto.get_absolute_url}}'>{{el.button_text}}</a>
					</div>
					{%endif%}
					
					{%if el.type = 'timer'%}
					<div class="input_element nonlinear timer" data-minutes="{{el.minutes}}" data-seconds="{{el.seconds}}" data-auto_start="{{el.auto_start}}" data-ding_when_done="{{el.ding_when_done}}" data-destination="{{el.default_action.goto.slug}}" data-execute_action_when_done="{{el.execute_action_when_done}}">
						<a data-destination="{{el.default_action.goto.slug}}" href='{{el.default_action.goto.get_absolute_url}}'>{{el.button_text}}</a>
						<div class="time_wrap"><img src="{{STATIC_URL}}img/timer-icon.png"> <span class="time"></span> <div class="timebar"></div></div>
					</div>
					{%endif%}
					

					{# {%if el.type = 'place'%} #}
					{# 		<div class="input_element nonlinear button">P #}
					{# 			<a data-destination="{{el.default_action.goto.slug}}" class='goto' href='{{el.default_action.goto.get_absolute_url}}'>{{el.button_text}}</a> #}
					{# 		</div> #}
					{# 	{%endif%} #}

					
				{%endfor%}		
			</div>
			
			
		
			{%if not card.is_floating_card%}
			<div class="prev_and_next">
				{%if card.cget_prev_card %}<div class="input_element prev"><a href="{{card.cget_prev_card.get_absolute_url}}"> ⬅ Previous</a></div>{%endif%}
				{%if card.cget_next_card %}<div class="input_element next"><a href="{{card.cget_next_card.get_absolute_url}}">Next ➡</a></div>{%endif%}
			</div>
			{%endif%}

			{%if guide.owner == user%}<div style="display:none;"> <a class="edit_card_link" href="{%url EditCard gslug=guide.slug id=card.id  %}">Edit Card</a></div>{%endif%}
			
	</div> {# end .card #}
			
{%endfor%}




</article> {# end deck-container #}


<script src="{{STATIC_URL}}js-libs/deck/core/deck.core.js"></script>

{# HISTORY JS from github.com/balupton/History.js #}
<script>if ( typeof window.JSON === 'undefined' ) { document.write('<script src="{{STATIC_URL}}js-libs/history/json2.js"><\/script>'); }</script>
<script src="{{STATIC_URL}}js-libs/history/amplify.store.js"></script>
<script src="{{STATIC_URL}}js-libs/history/history.adapter.jquery.js"></script>
<script src="{{STATIC_URL}}js-libs/history/history.js"></script>
<script src="{{STATIC_URL}}js-libs/history/history.html4.js"></script>

<script src="{{STATIC_URL}}enjoy-card.js"></script>



</body>
{% endblock %}
