{# {%extends "enjoy/base.html"%}  #}


{%block extrahead%}


	<script src="{{STATIC_URL}}js-libs/jquery-1.6.1.min.js"></script> 

	<link rel="stylesheet" href="{{STATIC_URL}}js-libs/deck/themes/transition/horizontal-slide-zach.css">

	<link rel="stylesheet" href="{{STATIC_URL}}enjoy_base.css" type="text/css" media="screen"  charset="utf-8">
	
	<script src="{{STATIC_URL}}/js-libs/deck/modernizr.custom.js"></script>
	
	<script>
		$(document).ready(function(){

		});
	 </script>

	<style>{{card.guide.theme.text}}</style>
{%endblock%}


{% block content %} 
{%load markup%}

<body>

<header id="header">
G T M
</header>

<article class="deck-container">

{%for card in guide.cards.all %}

	<div class="card {%if card.is_floating_card%} is_floating_card {%endif %} {%if not card.title%} notitle {%endif%}  {%if card.primary_media%} hasprimarymedia{%endif%} {%if not card.primary_media%} noprimarymedia{%endif%} {%if not card.text%} notext {%endif%} {%if card.input_elements%} hasinputs{%endif%} {%if not card.is_floating_card%} hasprevandnext {%endif%} {%if card.primary_is_bg %} primary_is_bg {%endif%}"
			id = "{%firstof card.slug card.card_number card.id %}" {%if card.primary_is_bg%}style="background: url( '{{MEDIA_URL}}{{card.primary_media.file.file}}' ) center center no-repeat; background-size: cover" {%endif%}>
			{# This uglyness gives cards a class relating to whats inside them #}

			{# TITLE of CARD  #}
			{%if card.title%}
				<h1>{{card.title}} </h1>
			{%endif%}
		
			{# PRIMARY MEDIA #}
			{%if not card.primary_is_bg and card.primary_media.type == 'image' %}
				<img src="{{card.primary_media.file.image.display_image.url}}" class="primary_media">
			{%endif%}
		
		    {%if card.primary_media.type == "video"%}
				[Video Player: ] {{card.primary_media.file}}
		    {%endif%}
		
			{# Audio will never be primary, and there will only be one audio #}
		    {%if card.the_audio %}
				{{card.the_audio}}
				[An Audio Player]
		    {%endif%}

	
			{# THUMBNAILS #}
			{%if card.mediaelement_set.all|length > 1 %}	
			{%for el in card.mediaelement_set.all%}
				{%if el.type == 'image' %}
					<a href="{%if card.primary_is_bg %}{{MEDIA_URL}}{{el.file.file}} {%else%}{{card.primary_media.file.image.display_image.url}}{%endif%}" class="thumblink" data-media_type="{{el.type}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
				{%if el.type == 'video'%}
				    <a href="{{MEDIA_URL}}{{el.file.file}}" class="thumblink" data-media_type="{{el.type}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
				{%if el.type == 'other'%}
				    <a href="{{MEDIA_URL}}{{el.file.file}}" class="thumblink" data-media_type="{{el.type}}">
						<img src="{{el.file.thumb_url}}" title="{{el.title}}">
					</a>
				{%endif%}
			{%endfor%}
			{%endif%} {#  end if greater than 1 #}

					
			{# TEXT #}
			{%if card.text%}
			<div class="card_text">
				{{card.text|markdown}}
			</div>
			{%endif%}

			<div class="input_wrapper">	
				{%for el in card.inputelement_set.all%}
					<div class="input_element nonlinear">
						<a data-destination="{{el.default_action.goto.slug}}" class='goto' href='{{el.default_action.goto.get_absolute_url}}'>{{el.button_text}}</a>
					</div>
				{%endfor%}		
			</div>
		
			{%if not card.is_floating_card%}
			<div class="prev_and_next">
				{%if card.cget_prev_card %}<div class="input_element prev"><a href="{{card.cget_prev_card.get_absolute_url}}" class=""> ⬅ Previous</a></div>{%endif%}
				{%if card.cget_next_card %}<div class="input_element next"><a href="{{card.cget_next_card.get_absolute_url}}" class="">Next ➡</a></div>{%endif%}
			</div>
			{%endif%}


			
	</div> {# end .card #}
			
{%endfor%}




</article> 
{# end deck-container #}



{# <script src="{{STATIC_URL}}js-libs/jquery.jplayer.min.js" type="text/javascript"></script> #}
{# <script src="{{STATIC_URL}}enjoy/nav.js" type="text/javascript" charset="utf-8"></script> #}
{# // <script src="{{STATIC_URL}}enjoy/card.js"></script> #}

{# Good #}
<script src="{{STATIC_URL}}js-libs/deck/core/deck.core.js"></script>
{# <script src="{{STATIC_URL}}js-libs/deck/extensions/navigation/deck.navigation.js"></script> #}
<script src="{{STATIC_URL}}js-libs/deck/extensions/hash/deck.hash.js"></script>

{# Meh #}
{# <script src="{{STATIC_URL}}js-libs/deck/extensions/menu/deck.menu.js"></script> #}
{# <script src="{{STATIC_URL}}js-libs/deck/extensions/goto/deck.goto.js"></script> #}
{# <script src="{{STATIC_URL}}js-libs/deck/extensions/status/deck.status.js"></script> #}

<script>
$(document).ready(function(){
		
	// $.extend(true, $.deck.defaults, {
	//    selectors: {
	//       hashLink: '.deck-permalink'
	//    },
	//    hashPrefix: 'card-'
	// });
	
	
	// disable key bindings, write your own, enable them only when the buttons are present
	//autoplay audio and video...
	
	
	$.deck('.card');
	
	$(document).bind('deck.change', function(event, from, to) {
		console.log(event);
		console.log('Moving from slide ' + from + ' to ' + to);
		return false;
	});
	
	$('.input_element.prev').click(function(event) { $.deck('prev'); return false;});
	$('.input_element.next').click(function(event) { $.deck('next'); return false;});

	$('a.goto').click(function(event) {
		// console.log($.deck('getSlides'));
		destination= $(event.target).data("destination");
		index= $(".card").index( document.getElementById(destination));
		// console.log(index);
		$.deck('go', index);
		return false;
		
		}); //end a.goto click
	
	
	//$.deck('next')

   
   }); //end docready
</script>


</body>
{% endblock %}
