
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font: 16px/1.5em 'Helvetica Neue',helvetica,arial,sans-serif;
	width: 100%;
	font-weight: 300;
}
ol, ul {
/*	list-style: none;*/
	margin-left: 1em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET*/


html {min-height: 100%;}

body
{

/*background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(20,20,20)),
    color-stop(0.59, rgb(36,36,36)),
    color-stop(1, rgb(56,56,56))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(20,20,20) 0%,
    rgb(36,36,36) 59%,
    rgb(56,56,56) 100%
);*/
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-weight: 300;

}


/* Bottom Nav */

#footer
{
position:fixed;
bottom:0px;



}
#bottom_nav
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	float:left;
	display:block;
	width:700px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#736F6E;
	text-align:center;
	z-index: 1;
	overflow: hidden;
	position: relative;
	-moz-border-radius: 0px 90px 90px 0px;
	border-radius: 0px 90px 90px 0px;
}

.tag_expand
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-size:.8em;
	width:150px;
	height: 20px;
	font-weight:bold;
	float:left;
	color:#FFFFFF;
	position: relative;
	background-color:#AEAEAE;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	overflow: hidden;
	z-index: 2;
	-moz-border-radius: 90px 0px 0px 90px;
	border-radius: 90px 0px 0px 90px;
	

}
.tag
{
	
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-size:.8em;
	width:150px;
	height: 20px;
	font-weight:bold;
	float:left;
	color:#FFFFFF;
	position: relative;
	background-color:#AEAEAE;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	overflow: hidden;
	z-index: 2;
	-moz-border-radius: 90px 0px 0px 90px;
	border-radius: 90px 0px 0px 90px;
}

.tag:hover, .tag_expand:hover
{
background-color:#6D7B8D;
}



.button
{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	float:left;
	display:block;
	width:120px;
	height: 20px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#736F6E;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
	overflow: hidden;
}




.button:link,.button:visited
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#736F6E;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

.button:hover
{
	background-color:#6D7B8D;
}
.button:active
{
	background-color:#646D7E;
}
/* End Bottom Nav */



#wrap
{
/*	width: 800px;*/
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}



a
{
	text-decoration: none;
	color: blue;
}

a:hover
{
	text-decoration: underline;
}




/*inside of the wrap*/


h1 {font-size:2em; font-weight: bold; padding: 4px 0 6px 0;}
h2 {
	font-size:1.5em; font-weight: bold; padding: 3px 0 5px 0;
	border: none !important;
	}


.hidden {display:none;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;  font-size: 0;}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }
html {min-height: 100%;}

a
{
	text-decoration: none;
}

#wrap
{
/*	width: 800px;*/
/*	width: 95%;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: .3em;
	text-align: center;
}

h1 
{
	font-size:2em;
	font-weight: bold;
	padding: 5px 0 10px 0;
}

.card
{
	display: inline-block;
	color: black;
	text-align: center;
	height: 100%;
/*	max-width: 60%;*/
	overflow: hidden;
/*	background-color: gray;*/
}
	/*just text and title*/
	.card.noprimarymedia
	{
		margin-top: 15%;
		width: 50%;
	}
	
	.card.noprimarymedia h1
	{
		font-size: 3em;
		margin-bottom: .5em;
	}
	
	/*no text */
	.card.notext
	{
		max-width: 100%;
	}
	.card.notext h2
	{
		font-size: 3em;
/*		margin-bottom: .25em;*/
		margin-top: .2em;
	}
	
	.card.notext .primary_media
	{
		max-height: 80%;
	}
	.card.notext.notitle
	{
		margin-top: 2em;
	}
	
	.card.hasthumbs h2
	{
		font-size: 2em;
	}
	.card.hasthumbs .primary_media
	{
		max-height: 60%;
	}
	.card.hasthumbs.notext .primary_media
	{
		max-height: 70%;
	}

.primary_media
{
	max-width: 100%;
	max-height: 70%; 
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*contains thumbs of imgs*/
.other_card_media 
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.other_card_media a.thumb img
{
	float: left;
}
.other_card_media a.thumb
{
	margin-top: .5em;
	margin-right: .5em;
	display: inline-block;
	box-shadow: 1px 1px 3px gray;
}

.other_card_media a.thumb:hover
{
	box-shadow: 0px 0px 5px black;
}


.card .card_text
{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	/*width here should be dependent on the image's width. then all would work fine. TODO */
}
.card .card_text p
{
	margin-bottom: 1em;

}

.card .input_wrapper
{
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	text-align: center;
}

.input_element
{
	display: inline-block;
}

.input_element a
{
	padding: .5em;
	overflow: auto;
	background-color: #6d6d6d;
	color: white;
	font-size: 1.2em;
	letter-spacing: 2px;
	text-shadow: 0px 1px 1px black;
	font-weight: 400;
	float: left;
	margin-right: .5em;
	margin-top: .5em;
	border: 2px solid white;
}

.input_element a:hover
{
	background-color: black;
	cursor: pointer;
	text-decoration: none;
}

.prev_and_next .input_element
{
	display: block;
}

.prev_and_next .prev a
{
/*	width: 6em;*/
	float: left;
	margin: 0.5em 0.5em 0.5em 0;
}

.prev_and_next .next a
{
/*	width: 6em;*/
	float: right;
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin: 0.5em 0 0.5em 0.5em;
}

.pressed
{
	border: 2px solid black !important;
}

.prev_and_next 
{
	width: 100%;
	overflow: auto;
}

.timeBar
{
	background-color: green;
	width: 100%;
	height: 1em;
	border: 1px solid lightgreen;
}